.parallax {
  font-family: "BentonSans-Book", sans-serif;
  h1 {
    text-transform: capitalize;
    font-family: 'BentonSansMedium', sans-serif;
  }
}
.hero-section .hero-inner .hero-text h2 {
  font-family: 'BentonSansMedium', sans-serif;
}
.blog-header{
  h2 {
    font-family: 'BentonSansMedium', sans-serif;
  }
}
.blog-page,
.job-page {
  .blog-content {
    background: #eeeef0;
    position: relative;
    z-index: 5;

    .blog-inner {
      background: #eeeef0;
      margin-top: -225px;
      padding: 15px 15px 30px;
    }

    .blog-inside {
      background: white;
      padding: 40px;
      margin-bottom: 20px;

      @media (max-width: @screen-sm-max) {
        padding-bottom: 10px;
      }

      p {
        .font(normal, 16px, 1.7, #454545);
        margin-bottom: 24px;

        a {
          color: @color-blue;
        }
      }

      .social {
        .addtoany_list a {
          font-size: 0;
          line-height: 1;
          padding: 0;

          + a {
            margin-left: 10px;
          }
        }

        span {
          display: inline-block;
          width: 18px;
          height: 18px;
          text-align: center;
          border-radius: 3px;

          &.social-linkedin {
            background: #007bba;
          }

          &.social-twitter {
            background: #2badf4;
          }

          &.social-facebook {
            background: #33589d;
          }

          + span {
            margin-left: 10px;
          }

          i {
            color: white;
            line-height: 18px;
            font-size: 14px;

            &.social-facebook {
              line-height: 20px;
            }
          }
        }
      }

      h6 {
        font-weight: 700;
        margin:30px 0;
        font-size: 16px;

        span {
          color: #454545;
          font-weight: 400;
        }
      }

      ul{
        list-style: inside none;
        padding-left: 0;
        font-size: 16px;
        margin: 33px 0;

        li {
          position: relative;
          padding-left: 15px;
          line-height: 1.4;
          margin-bottom: 4px;

          &:after {
            content: "•";
            position: absolute;
            top:1px;
            left:0;
          }
        }
      }
    }
  }
}
