footer {
  background-color: black;
  padding: 20px 0;

  .footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    @media (max-width: @screen-md-max) {
      flex-direction: column;
    }

    .menu-footer-menu-container {
      display: inline-block;
    }

    .footer-links {
      .social-items {
        font-size: 0;
        margin-right: 30px;
        display: inline-block;
        vertical-align: middle;

        a {
          display: inline-block;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin: 0 6px;
          padding: 0;
          text-align: center;

          &.social-facebook {
            background-color: #33589c;
          }

          &.social-twitter {
            background-color: #00a8d5;
          }

          &.social-linkedin {
            background-color: #0077ad;
          }

          i {
            color: white;
            line-height: 24px;
            font-size: 14px;
          }
        }
      }
    }

    @media (max-width: @screen-md-max) {
      display: block;
      text-align: center;

      p {
        line-height: 1.5;
      }
    }

    @media (max-width: @screen-xs-max) {
      .social-items {
        display: block !important;
        margin: 0 0 25px !important;
      }
    }
  }

  p {
    font-size: 11px;
    color: white;
    margin: 0;
    line-height: 1;
  }

  a {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    color: white;

    span {
      background-color: #4fb11a;
      width: 16px;
      height: 16px;
      margin-left: 5px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      padding-top: 1px;
    }
  }
}

.footer-nav,
#footer-nav {
  padding-left: 0;
  list-style: inside none;
  margin-bottom: 0;
  margin: 8px 0 0;

  li {
    display: inline-block;
    margin-bottom: 10px;
    position:relative;
    white-space: nowrap;

    &:after {
      content: '';
      position: absolute;
      width: 1px;
      background: #fff;
      height: 95%;
      top: 0;
      left: 0;
    }

    &:first-child {
      &:after {
        content: none;
      }
    }

    a {
      padding: 0 8px;
    }
  }

  a {
    font-size: 14px;

    .fa {
      font-size: 11px;
      position: relative;
      left: -1px;
    }

    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }
}

.success-message {
  padding: 30px 0 70px;
  text-align: center;

  &.success-message-home {

    .image {
      background: url("../images/access-icon.png") no-repeat center center;
      width: 87px;
      height: 88px;
    }
  }


  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  p {
    font-weight: 400;
    line-height: 32px;
    font-size: 15px;
    margin-bottom: 0;
  }

  .image {
    width: 64px;
    height: 65px;
    display: inline-block;
    margin-bottom: 30px;
    background: url("../images/forma-1.png") no-repeat center center;
  }
}

.proud-block {
  display: inline-block;
  margin-right: 30px;
  color: #838c90;
  font-size: 13px;
  line-height: 1.4;

  @media (max-width: @screen-md-max) {
    margin-bottom: 15px;
  }

  @media (max-width: @screen-xs-max) {
    margin-right: 0;
  }

  .link-wrapper {
    display: inline-block;
  }

  a {
    display: inline-block;
    max-width: 60px;
    max-height: 35px;
    padding: 0;
    margin-left: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}