.comp-section {
  background: transparent url(../images/hero-back.png) top center no-repeat;
  background-size: cover;
  padding: 185px 0 130px;

  .comp-inner {
    padding: 0 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .comp-content {
      width: 50%;
      padding-right: 40px;

      h1 {
        .font(bold, 65px, 1.3, white);
        margin: 0 0 50px;
      }

      p {
        .font(500, 30px, 1.3, white);
      }
    }

    .comp-slide {
      width: 50%;
      padding-left: 40px;

      .bx-wrapper {
        background: transparent;
        box-shadow: none;
        border: none;

        .bx-pager.bx-default-pager {
          bottom: -50px;

          a {
            width: 20px;
            height: 20px;
            background: transparent;
            border: 1px solid white;
            border-radius: 10px;

            &.active, &:hover, &:focus {
              background: rgba(51, 102, 153, 0.53);
            }
          }
        }
      }
    }

    @media (max-width: 1799px) {
      padding: 0;

      .comp-content {
        padding-right: 0;

        h1 {
          font-size: 60px;
        }
      }
    }

    @media (max-width: 1399px) {
      .comp-content {
        h1 {
          font-size: 54px;
        }

        p {
          font-size: 26px;
        }
      }
    }

    @media (max-width: @screen-md-max) {
      .comp-content {
        h1 {
          font-size: 44px;
        }

        p {
          font-size: 24px;
        }
      }
    }

    @media (max-width: @screen-md-max) {
      flex-flow: column-reverse wrap;

      .comp-content {
        width: 100%;
      }

      .comp-slide {
        width: 100%;
        max-width: 600px;
        margin: 0 auto 50px;
        padding-left: 0;
      }
    }

    @media (max-width: 499px) {
      .comp-content {
        h1 {
          font-size: 36px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    padding: 150px 0 60px;
  }
}

.explore-section {
  padding: 90px 0;

  .section-content {
    padding: 0 100px;
    display: flex;

    .section-left {
      width: 50%;

      h3 {
        .font(500, 34px, 1.3);
        margin-bottom: 30px;
      }

      p {
        .font(normal, 20px, 1.5);
        margin-bottom: 40px;
      }

      a {
        .font(normal, 13px, 1.3, #838c90);

        .download-icon {
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          width: 26px;
          height: 32px;
          background: url(../images/icon-pdf.png);
        }

        span {
          color: @color-blue;
        }

        img {
          margin-right: 5px;
        }
      }
    }

    .section-right {
      width: 50%;
      margin-left: 120px;
    }

    @media (max-width: 1799px) {
      padding: 0;
    }

    @media (max-width: @screen-md-max) {
      .section-left {
        p {
          font-size: 18px;
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      flex-flow: column-reverse wrap;

      .section-left {
        width: 100%;
      }

      .section-right {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 50px;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    padding: 60px 0;
  }
}