.section-download {
  font-family: "BentonSans", sans-serif;
  background: transparent url(../images/bg-back.jpg) center center no-repeat;
  background-size: cover;
  padding: 150px 15px;
  min-height: calc(100% - 298px);

  .content {
    background-color: #fff;
    box-shadow: -10px 12px 55px 4px #231f20;
    max-width: 538px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
  }

  .content-title {
    max-width: 310px;
    margin: auto;
  }

  .title {
    font-weight: 300;
    font-size: 37px;
    line-height: 1;
    color: #3d3d3d;
    margin: 0 0 20px;
  }

  h4.title {
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 0;
  }

  .subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #4d4d50;
    max-width: 310px;
    margin: 0 auto 25px;
  }

  .login-form {
    padding: 0 90px;

    &.form-error .form {
      border-color: #e10000;
    }

    &.form-error .error-notification {
      display: block;
    }
  }

  .form {
    padding: 13px;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-bottom: 10px;

    input.form-control {
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #4d4d50;
      height: 40px;
      padding: 13px 15px;
      margin-bottom: 14px;
    }
  }

  .btn {
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    padding: 11px 20px;
    width: 100%;
    border-radius: 4px;
  }

  .error-notification {
    background-color: #e10000;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    padding: 12px 15px;
    margin-bottom: 20px;
    position: relative;
    display: none;

    b {
      font-weight: 600;
    }

    &:before {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      left: calc(50% - 8px);
      bottom: -7px;
      background: #e10000;
      transform: rotate(45deg);
    }
  }

  .request-block {
    padding: 25px 103px 0;
    border-top: 1px solid #ccc;

    p {
      margin: 0 auto 20px;
    }

    .btn {
      font-weight: 400;
    }
  }
  .request-form {
    padding: 30px 90px 0;
    border-top: 1px solid #ccc;
    position: relative;
    display: none;

    .close {
      position: absolute;
      width: 15px;
      height: 15px;
      right: 15px;
      top: 15px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: 6px;
        width: 2px;
        height: 18px;
        transform: rotate(45deg);
        background-color: #444;
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .thankyou-form {
    padding: 0 103px;
    display: none;

    img {
      margin-bottom: 25px;
    }

    .subtitle {
      font-size: 16px;
      margin-bottom: 45px;
      max-width: 100%;
    }

    .btn {
      margin-bottom: 25px;
    }

    .notification {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      color: #a2a2a2;
      max-width: 160px;
      margin: auto;
    }
  }

  .form-group {
    .error-info {
      display: none;
    }
  }

  .has-error {
    margin-bottom: 0;

    input.form-control {
      border-color: #e10000;
      margin-bottom: 0;
      color: #d81b1b;

      &::-webkit-input-placeholder {
        color: #da0909;
      }

      &:-moz-placeholder {
        color: #da0909;
      }

      &::-moz-placeholder {
        color: #da0909;
      }

      &::-ms-input-placeholder {
        color: #da0909;
      }
    }
    
    .error-info {
      font-weight: 500;
      font-size: 11px;
      line-height: 22px;
      color: #d81b1b;
      background-image: url(../images/icon-error.png);
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 25px;
      display: inline-block;
      margin: 3px auto;
    }
  }
}