.state-page {
  font-family: "BentonSans", sans-serif;
}

.state-hero {
  background: transparent url(../images/state-back.png) center center no-repeat;
  background-size: cover;
  padding: 200px 0 270px;
  margin-bottom: 10px;
  text-align: center;

  h1 {
    .font(normal, 45px, 1, white);
    margin: 0 0 35px;
  }

  p {
    .font(normal, 28px, 1.4, white);
    max-width: 850px;
    margin: 0 auto;
  }

  @media (max-width: @screen-sm-max) {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 24px;
    }
  }
}

.infograph-section {
  background: #eeeef0;

  .infograph-inner {
    background: #eeeef0;
    margin-top: -235px;
    padding: 40px 40px 40px 30px;

    @media (max-width: @screen-sm-max) {
      padding: 20px 15px 15px;
    }
  }

  .image-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 55px 0;

    p {
      .font(normal, 12px, 1.3, #838c90);
    }

    a {
      .font(normal, 13px, 1.3, #838c90);

      span {
        color: @color-blue;
      }

      .download-icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        width: 26px;
        height: 32px;
        background: url(../images/icon-pdf.png);
      }
    }

    @media (max-width: @screen-sm-max) {
      flex-flow: column wrap;
      padding: 20px 30px 0;

      p {
        margin-bottom: 20px;
      }
    }

    @media (max-width: @screen-sm-max) {
      padding: 20px 0px 0;
    }
  }

  .reach-block {
    padding: 40px 0 70px;
    text-align: center;

    h2 {
      .font(500, 43px, 1, @color-blue);
      margin: 0 0 25px;
    }

    p {
      .font(normal, 18px, 1.3, #333);
      margin-bottom: 25px;
    }
  }
}
