.integration-hero {
  background: transparent url(../images/integrations-back.png) center center no-repeat;
  background-size: cover;
  padding: 293px 0 186px;
  text-align: center;
  font-family: "BentonSans-Book", sans-serif;

  h1 {
    .font(400, 42px, 1.3, white);
    margin-bottom: 45px;
  }

  p {
    .font(normal, 34px, 1.4, white);
    max-width: 896px;
    margin: 0 auto;
  }

  @media (max-width: @screen-sm-max) {
    p {
      font-size: 30px;
    }
  }

  @media (max-width: @screen-xs-max) {
    padding: 200px 0 150px;
  }

  @media (max-width: 413px) {
    h1 {
      font-size: 34px;
    }

    p {
      font-size: 26px;
    }
  }
}

.cog-section {
  margin: 10px 0 7px;
  background: #eeeef0;
  padding: 87px 0 79px;

  .cog-inner {
    display: flex;

    p {
      flex: 1;
      margin-left: 50px;
      text-align: justify;
      .font(500, 22px, 1.4, #838c90);
    }

    @media (max-width: @screen-xs-max) {
      .cog-holder {
        img {
          width: 150px;
        }
      }

      p {
        margin-left: 30px;
      }
    }

    @media (max-width: 499px) {
      display: block;

      .cog-holder {
        text-align: center;
        padding-bottom: 30px;
      }

      p {
        margin-left: 0;
        font-size: 18px;
      }
    }
  }
}

.integration-info {
  padding: 120px 0 120px;

  .info-blocks {
    display: flex;
    justify-content: space-between;

    .info-left {
      flex: 1;

      .info-item {
        h5 {
          .font(bold, 32px, 1, #454545);
          margin: 0 0 20px;
        }

        p {
          .font(400, 20px, 1.4, #454545);
          margin: 0 0 50px;
        }
      }
    }

    .info-right {
      padding-left: 60px;
      border-left: 7px solid #838c90;
      margin-left: 170px;
      height: 100%;

      .info-logo {
        margin-bottom: 100px;
        text-align: center;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      .info-right {
        padding-left: 30px;
        margin-left: 30px;
      }
    }

    @media (max-width: @screen-xs-max) {
      display: block;

      .info-left {
        .info-item {
          h5 {
            font-size: 28px;
          }

          p {
            font-size: 18px;
          }
        }
      }

      .info-right {
        margin-left: 0;
        margin-top: 30px;

        .info-logo {
          margin-bottom: 60px;
        }
      }
    }

    @media (max-width: 499px) {
      display: block;

      .info-left {
        .info-item {
          h5 {
            font-size: 24px;
          }

          p {
            font-size: 16px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    padding: 80px 0;
  }
}

.name-cog {
  font-size: 34px;
  font-family: "BentonSansMedium", sans-serif;
  line-height: 36px;
  margin-bottom: 10px;
  color: #000;

  @media (max-width: @screen-sm-max) {
    font-size: 28px;
    line-height: 32px;
  }
}

.data-cog {
  font-size: 22px;
  line-height: 32px;
  color: #232323;

  @media (max-width: @screen-sm-max) {
    font-size: 21px;
  }

  p {
    margin-bottom: 33px;

    @media (max-width: @screen-sm-max) {
      margin-bottom: 15px;
    }
  }
}

.why-us-lists {
  overflow: hidden;
}

.why-us-lists-outer {
  margin-left: -7px;
  margin-right: -7px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: @screen-xs-max) {
    display: block;
  }
  
  .item-why {
    padding: 7px;
    color: #fff;
    display: inline-flex;

    .inner-lists-feutured{
      padding: 111px 71px;
      background: transparent url(../images/img-integration.png) 100% center no-repeat;
      background-size: cover;
      min-height: 464px;

      @media (max-width: @screen-md-max) {
        padding: 50px 40px;
      }

      @media (max-width: @screen-md-max) {
        min-height: 1px;
      }

      @media (max-width: 480px) {
        padding: 50px 30px;
      }
    }

    @media (max-width: @screen-xs-max) {
      display: block;
    }
  }
}

.name-featured-lists {
  font-size: 31px;
  line-height: 1.2;
  font-family: "BentonSansBold", sans-serif;
  margin-bottom: 21px;
  width: 100%;
}
.text-featured-lists {
  font-size: 22px;
  line-height: 1.4;
  width: 100%;
  font-family: 'BentonSans-Book', sans-serif;

  @media (max-width: @screen-sm-max) {
    font-size: 20px;
  }

  p {
    margin-bottom: 0;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.logos-fuetured {
  padding: 87px 0 106px;
  overflow: hidden;
}

.logos-fuetured-lists {
  text-align: center;
  margin:0 -43px;

  @media (max-width:480px) {
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0 43px 20px;
    height: 146px;
    vertical-align: top;

    @media (max-width:480px) {
      height: auto;
      width: 100%;
      margin:0 0 30px;
      padding:0 15px 0;
    }

    &:after {
      content:'';
      display: inline-block;
      width:0;
      height:146px;
      letter-spacing: -2px;
      font-size: 0;
      line-height: 0;
      vertical-align: middle;

      @media (max-width:480px) {
        content: none;
      }
    }

    img {
      max-width: 100%;
      max-height: 146px;
      height: auto;
      width: auto;
    }
  }
}

.info-cog-outer {
  padding: 42px 0 0 19px;
  max-width: 728px;
  @media (max-width: @screen-sm-max) { 
    max-width: 100%;
  }
}

.cog-outer {
  margin: 0 auto;
  max-width: 1811px;
}

.logos-fuetured-outer {
  margin:0 auto;
  max-width: 1456px;
}

.page-integration {
  .cog-section {
    padding-bottom: 51px;
  }

  .info-cog-outer {
    padding: 62px 0 0 0;
    max-width: 542px;
    @media (max-width: @screen-sm-max) {
      max-width: 100%;
    }
  }

  .name-cog {
    margin-bottom: 35px;
  }

  .data-cog {
    font-size: 24px;

    @media (max-width: @screen-sm-max) {
      font-size: 20px;
    }
  }

  .why-us-lists-outer {
    .item-why {
      .inner-lists-feutured {
        min-height: 7px;
      }

      .inner-lists-feutured {
        @media (min-width: @screen-md-max) { 
          padding: 104px 68px 131px;
        }
      }
    }
  }

}

.info-blocks-outer {
  text-align: center;
  padding: 67px 0 78px;
}

.info-blocks-outer {
  .info-item {
    h5 {
      font-size: 32px;
      font-family: 'BentonSansMedium', 'BentonSans', sans-serif;
      color: #000;
      text-transform: capitalize;
      margin-bottom: 41px;
    }
  }
}

.info-inner {
  font-size: 24px;
  line-height: 45px;
  color: #454545;
  max-width: 1236px;
  margin:0 auto;
  padding:0 0 52px;

  @media (max-width: @screen-sm-max) {
    font-size: 20px;
    line-height: 26px;
  }

  p {
    margin-bottom: 32px;

    @media (max-width: @screen-sm-max) {
      margin-bottom: 18px;
    }
  }
}

.info-inner-logos {
  text-align: center;

  .info-logo {
    display: inline-block;
    padding:0 40px 0px;
    height: 85px;
    margin-bottom: 40px;

    @media (max-width: @screen-sm-max) {
      margin-bottom: 18px;
      padding: 0 15px;
    }

    @media (max-width: 480px) {
      padding: 0 5px;
    }

    &:after {
      content:'';
      height: 76px;
      display: inline-block;
      width:0;
      vertical-align: middle;
      letter-spacing: -2px;
      font-size: 0;
      line-height: 0;
    }
  }
}

.integration-logos-bottom {
  padding:80px 15px;

  #logos-bottom {
    ul {
      max-width: 1255px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 40px 0 58px;
      text-align: center;
      margin:0 auto;

      li {
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;
        margin: 0 0 40px;
        padding:0 15px 16px;
        width: 16.6666%;
        opacity: .5;
        -webkit-transition: all .2s;
        transition: all .2s;
        font-size: 0;

        @media (max-width: @screen-xs-max) {
          width: 33%;
        }

        @media (max-width: 480px) {
          width: 50%;
        }

        &:hover {
          opacity: 1;

          .logos-img-bottom {
            display: none;
          }

          .logos-img-bottom-hover {
            display: block;
          }
        }

      }

      .logos-img-bottom-hover {
        display: none;
      }
    }
  }
}

.logos-bottom-note{
  padding:0 15px 13px;
  font-size: 32px;
  color: #121212;
  text-align: center;
}