.blog-page {
  .blog-header {
    position: relative;
    margin-bottom: 10px;
    padding: 190px 0 290px;
    text-align: center;
    overflow: hidden;

    &.blog-list-header {
      background: transparent url(../images/blog-back.png) center center no-repeat;
      background-size: cover;

      &:before {
        display: none;
      }

      h2 {
        font-size: 42px;
        margin: 0 0 35px;
        text-transform: capitalize;
      }

      p {
        .font(normal, 30px, 1.4, white);
      }
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.57);
      z-index: 2;
    }

    .blog-back {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent url(../images/blog-back.png) center center no-repeat;
      background-size: cover;
      filter: blur(15px);
    }

    .breadcrumbs {
      list-style: none;
      .font(normal, 14px, 1.5, white);
      margin: 0;
      position: relative;
      z-index: 3;

      li {
        display: inline-block;

        &.current {
          color: @color-blue;
        }
      }

      a {
        color: @color-blue;
      }

      i {
        margin: 0 10px;
      }
    }

    h6 {
      .font(normal, 14px, 1.5, white);
      margin: 0;
      position: relative;
      z-index: 3;

      a {
        color: @color-blue;
      }

      i {
        margin: 0 10px;
      }
    }

    h2 {
      position: relative;
      z-index: 3;
      .font(normal, 44px, 1.3, white);
      margin: 32px auto;
    }

    @media (max-width: 539px) {
      h2 {
        font-size: 36px;
      }
    }

    @media (max-width: 413px) {
      h2 {
        font-size: 30px;
      }
    }
  }

  .blog-content {

    .blog-inner {

      .blog-left {
        padding-right: 10px;
      }

      .blog-right {
        padding-left: 10px;
      }

      &.blog-list {
        .blog-left {
          padding-right: 0;
        }

        .blog-right {
          padding-left: 15px;
        }

        .blog-items {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;

          .blog-item, .post, .page {
            display: block;
            width: calc(50% ~"-" 7.5px);
            margin-bottom: 15px;
            background: white;

            @media (max-width: @screen-sm-max) {
              width: 100%;
            }

            .blog-image {
              background-color: transparent;
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;
              padding-bottom: 56%;
            }

            .item-content {
              padding: 30px;
            }

            .post-author {
              color: @color-blue;
              display: inline-block;
            }

            .post-categories {
              display: inline-block;
              list-style: none;
              padding-left: 0;

              li {
                display: inline-block;
              }
            }

            a.item-title {
              .font(normal, 24px, 1.3, #454545);
              display: block;
              cursor: pointer;
              margin: 0 0 10px;

              &:hover {
                color: #2D64AE;
                text-decoration: none;
              }
            }

            span {
              .font(normal, 14px, 1.6, #454545);
              display: block;

              a {
                color: @color-blue;
              }
            }

            p {
              .font(normal, 15px, 1.4, #454545);
              margin: 20px 0 5px;

              a {
                color: #454545;
              }
            }
          }

          @media (max-width: @screen-sm-max) {
            flex-flow: column wrap;

            .blog-item {
              width: 100%;
            }
          }
        }
      }

      .widget {
        padding: 30px;
        background: white;
        margin-bottom: 22px;

        h6.widget-title {
          .font(normal, 19px, 1.2);
          margin: 0 0 10px;
        }

        .post-item {
          margin: 20px 0 0;

          a {
            .font(normal, 18px, 1.4, #333);
            display: block;

            &:hover {
              color: #2D64AE;
              text-decoration: none;
            }

            i {
              .font(bold, 20px, 1, #2d64ae);
              margin-left: 3px;
            }
          }

          span {
            .font(normal, 13px, 1.3, #333);
            display: block;
            margin-top: 5px;
          }
        }

        .search-form {
          position: relative;
          margin-bottom: 27px;

          input {
            border: 1px solid #b1b1b1;
            .font(normal, 15px, 1, #333333);
            padding: 8px 15px 8px 38px;
            border-radius: 3px;
          }

          i {
            position: absolute;
            top: 9px;
            left: 12px;
          }
        }

        .widget-subtitle {
          .font(normal, 15px, 1, #333);
          display: block;
          margin-bottom: 10px;
        }

        .bootstrap-select {
          width: 100%;

          .dropdown-toggle {
            border: 1px solid #b1b1b1;
            .font(normal, 15px, 1, #333333);
            padding: 8px 25px 8px 12px;
            border-radius: 3px;

            .bs-caret .caret {
              border-top-width: 5px;
              border-left-width: 5px;
              border-right-width: 5px;
            }
          }

        }

        @media (max-width: @screen-sm-max) {
          padding: 20px;

          .post-item {
            a {
              font-size: 15px;
            }
          }
        }
      }

      .blog-inside {
        background: white;
        padding: 40px;
        margin-bottom: 20px;

        .blog-image {
          background-color: transparent;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          padding-bottom: 56%;
          margin-bottom: 22px;
          background-image: url(../images/EA-FeaturedBlogImage_preview.jpeg);
        }

        p {
          .font(normal, 16px, 1.4, #454545);
          margin-bottom: 20px;

          a {
            color: @color-blue;
          }
        }

        blockquote {
          border-left-width: 6px;
          padding-left: 26px;
        }

        .blog-date {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          border-top: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc;
          margin-bottom: 30px;

          span {
            .font(normal, 15px, 20px, #454545);
            display: inline-block;
          }
        }

        @media (max-width: @screen-sm-max) {
          padding: 20px;
        }
      }

      @media (max-width: @screen-sm-max) {

        .blog-left {
          padding-right: 15px;
        }

        .blog-right {
          padding-left: 15px;
        }
      }

      @media (max-width: @screen-xs-max) {
        &.blog-list {
          .blog-left {
            padding-right: 15px;
          }
        }
      }
    }
  }
}
