.job-page {
  .content-holder {
    .addtoany_share_save_container {
      display: none;
    }
  }

  .addtoany_shortcode {
    display: inline-block;
    margin-left: 10px;
  }

  .blog-header {
    position: relative;
    margin-bottom: 10px;
    padding: 185px 0 266px;
    text-align: center;
    overflow: hidden;

    @media (max-width: @screen-xs-max) {
      padding: 200px 0 236px;
    }

    .blog-back {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent url(../images/blog-back.png) center center no-repeat;
      background-size: cover;
    }

    .breadcrumbs {
      list-style: none;
      .font(normal, 14px, 1.5, white);
      margin: 0 auto;
      max-width: 100%;
      position: relative;
      z-index: 3;
      font-size: 14px;

      li {
        display: inline-block;

        &.current {
          color: #fff;
        }
      }

      a {
        color: #fff;
      }

      i {
        margin: 0 10px;
      }
    }

    h6 {
      .font(normal, 14px, 1.5, white);
      margin: 0 auto 20px;
      max-width: 955px;
      position: relative;
      z-index: 3;
      font-size: 18px;
      line-height: 1.4;

      &.jobs-introtitle {
        font-size: 34px;
        margin-bottom: -35px;
        font-family: 'BentonSans-Book', sans-serif;

        @media (max-width: @screen-xs-max) {
          margin-bottom: -64px;
        }

        @media (max-width: 539px) {
          font-size: 22px;
        }

        @media (max-width: 413px) {
          font-size: 16px;
        }
      }


      a {
        color: #fff;
      }

      i {
        margin: 0 8px;
      }

      .selector-head{
        display: inline-block;
        margin: 0 11px;
        position:relative;
        top: -1px;
        font-size: 17px;
      }

      .map {
        position: relative;
        top: 1px;
        margin-right: 5px;
        vertical-align: top;
      }
    }

    h2 {
      position: relative;
      z-index: 3;
      .font(normal, 44px, 1.3, white);
      margin: 19px auto 23px;

      &.jobs-title {
        margin-bottom: 44px;
        margin-top: 126px;

        @media (max-width: @screen-xs-max) {
          margin-top: 26px;
        }
      }
    }

    @media (max-width: 539px) {
      h2,
      .jobs-title {
        font-size: 36px;
      }
    }

    @media (max-width: 413px) {
      h2,
      .jobs-title {
        font-size: 30px;
      }
    }
  }

  .name-jobs {
    text-align: center;
    margin: 63px 0 64px;
    font-size: 32px;
    font-weight: 600;
  }

  .blog-content {
    .blog-inner {
      margin-top: -234px;
      padding: 21px 21px 30px;
    }

    .blog-inside {
      padding: 51px 65px 37px;

      @media (max-width: @screen-xs-max) {
        padding:20px 20px 10px;
      }

      .career-header {
        margin-bottom: 30px;

        &:after {
          content:'';
          clear: both;
          display: table;
        }

        .social {
          display: inline-block;
          float:right;
          max-width: 34%;
          margin: 5px 0 0;

          @media (max-width: @screen-xs-max) {
            float:none;
            display: block;
            max-width:100%;
          }

          .text-share-job {
            display: inline-block;
            white-space: nowrap;
            width: auto;
            margin-right: -4px;
            color: #333;
            position: relative;
            top:1px;
          }
        }
        h2 {
          display: inline-block;
          max-width: 62%;
          margin:0 0 15px;
          font-size: 30px;
          font-weight: 700;
          color: #d5d5dc;

          @media (max-width: @screen-xs-max) {
            float:none;
            display: block;
            max-width:100%;
          }
        }
      }
    }
  }
}

.jobs-lists {
  margin:0 -15px 20px;
  padding:0;
  list-style: inside none;

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  li {
    width: 33.333333%;
    padding:0 15px 30px;
    float:left;
    font-family: "Lato", sans-serif;

    @media (max-width: @screen-md-max) {
      padding:0 10px 20px;
    }

    @media (max-width: @screen-md-max) {
      width: 50%;
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  .jobs-outer {
    background: #fff;
    padding: 44px;
    position: relative;

    @media (max-width: @screen-md-max) {
      padding:20px;
    }
  }

  .jobs-inner {
    position:relative;
    height: 411px;
  }

  .jobs-btn {
    position: absolute;
    bottom: 0;
    left: 0;

    .btn {
      padding: 13px 39px 13px;

      @media (max-width: @screen-md-max) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .jobs-head {
    height: 209px;
    overflow: hidden;
    border-bottom: 1px solid #eeeef0;
  }

  .jobs-date {
    color: #b4b4b4;
    font-size: 16px;
    margin-bottom: 19px;
  }

  .jobs-middle {
    padding:42px 0 60px;
  }

  .jobs-location {
    font-size: 18px;
    line-height: 1.4;
    color: #5c5c5c;

    @media (max-width: @screen-md-max) {
      font-size: 16px;
    }

    img {
      margin-right: 6px;
      position: relative;
      top: -1px;
    }
  }

  .jobs-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;

    @media (max-width: @screen-md-max) {
      font-size: 24px;
    }

    &,
    a {
      color: #454545;
    }

    a {
      &:hover {
        text-decoration: none;
        color: #151515;
      }
    }
  }
}

.jobs-shell {
  max-width: 1233px;
  margin:0 auto;
  padding:0 0 89px;

  &:after {
    content:'';
    clear:both;
    display: table;
  }
}