.notification-hero {
  background: transparent url(../images/service-back.png) center center no-repeat;
  background-size: cover;
  padding: 245px 0 185px;
  text-align: center;

  h1 {
    .font(500, 46px, 1, white);
  }

  h6 {
    .font(normal, 18px, 1, white);
    margin-bottom: 40px;
  }

  p {
    .font(300, 32px, 1.3, white);
    letter-spacing: -1px;
  } 

  @media (max-width: @screen-sm-max) {
    padding: 200px 0 140px;
  }

  @media (max-width: @screen-xs-max) {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 26px;
    }
  }

  @media (max-width: 374px) {
    h1 {
      font-size: 36px;
    }

    h6 {
      font-size: 14px;
    }

    p {
      font-size: 22px;
    }
  }
}

.notification-info {
  padding: 70px 0;

  .service-nitems {
    .sub-title {
      .font(500, 24px, 1, white);
      margin: 0;
      padding: 17px 15px 15px;
      background: #2d64ae;
      text-align: center;
    }

    .service-holder {
      padding: 15px 20px;
      border: 2px solid #2d64ae;
      margin-bottom: 10px;
    }

    .service-nitem {
      padding: 20px 30px 20px 10px;
      border-bottom: 1px solid #e2e2e2;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:last-child {
        border-bottom: none;
      }

      h6 {
        .font(500, 18px, 1);
        margin: 0 0 3px;
      }

      p {
        .font(normal, 12px, 1);
        margin: 0;
      }

      span {
        display: inline-block;
        width: 20px;
        height: 15px;
        background: url(../images/icon-check-green.png);
        background-repeat: no-repeat;
      }

      @media (max-width: @screen-md-max) {
        padding-right: 10px;
      }
    }
  }

  .scheduled-dbox {
    padding: 20px 15px 25px;
    background: #b5babc;
    text-align: center;

    h6 {
      padding: 0 37px;
      margin: 0 0 14px;
      background: url(../images/icon-time.png);
      background-repeat: no-repeat;
      background-position: left center;
      .font(500, 24px, 1, white);
      min-height: 25px;
      display: inline-block;
    }

    p {
      .font(normal, 16px, 1.3, white);
      max-width: 240px;
      margin: 0 auto;
    }

    @media (max-width: @screen-md-max) {
      h6 {
        font-size: 22px;
        padding: 0 0 0 30px;
      }
    }

    @media (max-width: @screen-sm-max) {
      h6 {
        font-size: 20px;
      }
    }

    @media (max-width: @screen-xs-max) {
      margin-bottom: 50px;
    }
  }

  .notification-right {
    padding-left: 85px;

    @media (max-width: @screen-xs-max) {
      padding-left: 15px;
    }
  }

  .notification-holder {
    h2 {
      .font(300, 36px, 1);
      margin: 0 0 20px;
    }

    .info {
      .font(normal, 18px, 1.3);
      margin-bottom: 30px;

      a {
        color: @color-blue;
        position: relative;
        display: inline-block;
        text-decoration: none;

        &:after {
          content: '';
          display: block;
          margin-top: -3px;
          width: 100%;
          height: 2px;
          background: #d7eefa;
        }

        &:hover:after {
          background: @color-blue;
        }
      }
    }

    .notification-block {
      padding: 25px 0;
      border-top: 1px solid #e2e2e2;

      .title-notification {
        .font(500, 18px, 1.5);

        .ticket {
          .font(500, 16px, 1, @color-blue);
          margin-left: 30px;

          @media (max-width: @screen-xs-max) {
            display: block;
            margin-left: 0;
          }
        }
      }

      p {
        .font(normal, 16px, 1.5);
        margin: 0;
      }
    }
  }
}