#contactModal {
  .modal-dialog {
    max-width: 476px;
    margin: 100px auto 0;
    width:90%;

    @media(max-width: 600px) {
      width: 100%;
      padding: 0px 35px;
    }
  }

  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    position: relative;
    background: transparent url(../images/contact-modal.png) center center no-repeat;
    background-size: cover;
    padding: 70px 15px 55px;
    text-align: center;

    h4 {
      .font(300, 42px, 1, white);
      margin: 0 0 25px;

      @media (max-width: @screen-xs-max) {
        font-size: 32px;
      }
    }

    p {
      .font(normal, 18px, 1.5, white);
      margin: 0 auto;
      max-width: 314px;
    }
  }

  div.wpcf7-response-output {
    display: none!important;
  }

  .submit-button {
    text-align: center;
  }

  div.wpcf7 .ajax-loader {
    margin-top: 11px;
  }

  .modal-body {
    padding: 40px 35px 0;

    form {

      br {
        display: none;
      }

      .input-holder {
        position: relative;
        margin-bottom: 20px;

        input.form-control {
          .font(normal, 16px, 1);
          padding: 12px;
          border: 1px solid #b7b7b7;
          height: auto;
          border-radius: 0;
        }

        .form-control[aria-invalid="true"] {
          border-color: #f79b9b;
        }

        label {
          position: absolute;
          top: 16px;
          left: 12px;
          pointer-events: none;
        }
      }

      .bootstrap-select {
        height: auto;
        
        .dropdown-toggle {
          .font(normal, 16px, 1);
          padding: 13px 12px;
          border: 1px solid #b7b7b7;
          height: auto;
          border-radius: 0;
        }
      }

      .form-desc {
        text-align: center;

        label {
          margin-bottom: 26px;
        }
      }

      .submit-button {
        display: inline-block;
        position: relative;
        width: 100%;
        margin-bottom: 13px;

        .btn {
          width: 100%;
          padding-right: 55px;
          border: none;
          border-radius: 4px;
        }

        .ajax-loader-holder {
          display: inline-block;
          width: 20px;
          height: 16px;
        }

        &:after {
          position: absolute;
          top: 11px;
          left: calc(50% ~"+" 40px);
          content: '\f105';
          font-family: "FontAwesome", sans-serif;
          font-size: 27px;
          color: white;
        }

      }

      label {
        .font(normal, 16px, 1, #666);

        &.required {
          &:before, &:after {
            .font(normal, 16px, 1, #9900cc);
          }

          &:after {
            content: '*';
            margin-left: 5px;
          }
        }

        &.req-left {
          &:before {
            content: '*';
            margin-right: 5px;
          }

          &:after {
            content: '';
          }
        }
      }
    }
  }

  .close-contact {
    position: absolute;
    top: -27px;
    right: -27px;
    width: 27px;
    height: 27px;
    background: transparent url(../images/modal-close.png) center center no-repeat;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
