.error-404 {
  .blog-header.blog-list-header {
    background: transparent url(../images/blog-back.png) center center no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
    padding: 150px 0 170px;
    text-align: center;
    overflow: hidden;
    color: #fff;
    font-size: 16px;

    @media (max-width: @screen-sm-max) {
      padding: 90px 0;
    }

    h1 {
      font-weight: bold;
      font-size: 120px;
      line-height: 1;
      color: white;
      text-transform: uppercase;
      margin-bottom: 6px;
    }

    h3 {
      font-weight: 600;
      font-size: 40px;
      line-height: 1.4;
      margin: 0 0 10px;

      @media (max-width: @screen-xs-max) {
        font-size: 34px;
      }
    }
  }

  .name-url-offer {
    font-size: 24px;
    color: #113f54;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
  }

  .wrapper-url-offer {
    padding: 40px 0;
  }

  .wrapper-lists-url-offer {
    max-width: 1100px;
    margin:0 auto;
  }

  .lists-url-offer {
    padding: 0;
    list-style: inside none;
    margin:0 -44px;

    @media (max-width: @screen-sm-max) {
      margin:0 -14px;
    }

    &:after {
      content:'';
      clear: both;
      display: table;
    }

    li{
      display: inline-block;
      float:left;
      width:33.333333333%;
      padding: 0 50px 35px;

      @media (max-width: @screen-sm-max) {
        padding: 0 20px 35px;
      }

      @media (max-width: @screen-xs-max) {
        width: 100%;
      }

      .screen {
        margin-bottom: 20px;
        text-align: center;

        img {
          max-width: 100%;
        }
      }

      .url-offer {
        text-align: center;
        font-size: 18px;
        line-height: 1.6;

        @media (max-width: @screen-sm-max) {
          font-size: 15px;
        }

        @media (max-width: @screen-xs-max) {
          font-size: 18px;
        }

        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}