@import "../bower_components/bootstrap/less/variables";

.font (@weight, @size, @line-height, @color: black) {
    font-weight: @weight;
    font-size: @size;
    line-height: @line-height;
    color: @color;
}

@color-blue: #23b5e9;

@font-face {
    font-family: 'Lato';
    src: url(../fonts/custom/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/custom/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/custom/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansBold';
    src: url("../fonts/BentonSans/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-2.eot");
    src: url("../fonts/BentonSans/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-2.eot?") format("embedded-opentype"),
       url("../fonts/BentonSans/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-3.woff") format("woff"),
       url("../fonts/BentonSans/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-1.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'BentonSans';
    src: url("../fonts/BentonSans/b36a47f4-8876-40cb-b31a-d02f16a88d78-2.eot");
    src: url("../fonts/BentonSans/b36a47f4-8876-40cb-b31a-d02f16a88d78-2.eot?") format("embedded-opentype"),
       url("../fonts/BentonSans/b36a47f4-8876-40cb-b31a-d02f16a88d78-3.woff") format("woff"),
       url("../fonts/BentonSans/b36a47f4-8876-40cb-b31a-d02f16a88d78-1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'BentonSans-Book';
  src: url('../fonts/BentonSans/BentonSans-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSans/BentonSans-Book.woff') format('woff'),
  url('../fonts/BentonSans/BentonSans-Book.ttf')  format('truetype'),
  url('../fonts/BentonSans/BentonSans-Book.svg#BentonSans-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'BentonSansMedium';
    src: url("../fonts/BentonSans/71592d14-e584-4c00-bbb9-8f1da5b98bf9-2.eot");
    src: url("../fonts/BentonSans/71592d14-e584-4c00-bbb9-8f1da5b98bf9-2.eot?") format("embedded-opentype"),
       url("../fonts/BentonSans/71592d14-e584-4c00-bbb9-8f1da5b98bf9-3.woff") format("woff"),
       url("../fonts/BentonSans/71592d14-e584-4c00-bbb9-8f1da5b98bf9-1.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
