//Slick
@import "slick.less";
@import "slick-theme.less";
//bx-slider
@import (inline) "jquery.bxslider.css";
//bootstrap-select
@import (inline) "bootstrap-select.css";
//variables
@import "_variables";
//common
@import "_common";
//pg-integration
@import "_pg-integration";
//pg-state
@import "_pg-state";
//pg-competitor
@import "_pg-competitor";
//pg-blog
@import "_pg-blog";
//pg-job
@import "_pg-job";
//pg-modal
@import "_pg-modal";
//pg-notification
@import "_pg-notification";
//404
@import "_pg-404";
//Media Downloads
@import "_pg-download";
//footer
@import "_footer";

html {
	min-height: 100%;
}

body {
	min-height: 100%;
	font-family: "BentonSans", sans-serif;
	line-height: 1;
}

#content {
  min-height: 100vh;
  margin:0 0 0-74px;
}

.both {
  height: 74px;
}

.container {
  @media (min-width: 1400px) {
    width: 1300px;
  }

  @media (min-width: 1600px) {
    width: 1400px;
  }

	@media (min-width: 1800px) {
		width: 1700px;
	}

  &.container-normal {
    max-width: 1170px;
  }
}

.logo-slider {
  font-size: 0;
  margin-bottom: 110px;

  .btn-logo-next,
  .btn-logo-prev {
    width: 32px;
    height: 65px;
    padding-top: 3px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .slider-holder {
    width: calc(100% ~"-" 84px);
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    overflow: hidden;

    #logos ul {
      padding-left: 0;
      margin: 0;

      &,
      .slick-list {
        min-height: 80px;
      }

      li {
        list-style: none;
        float: none;
        display: inline-block;
        padding: 0 30px;
        width: 170px;
        text-align: center;
        vertical-align: middle;

        img {
          max-width: 100%;
          max-height: 80px;
        }
      }
    }
  }

  .suga-container {
    padding: .2em;
    margin: 5em auto;
    border-radius: 5px;
  }

  .suga-slider-wrap {
    overflow: hidden;
    margin: 1em;
  }

  .shell-img-slider {
    position: relative;
    display: inline-block;
  }

  .suga-slide {
    float: left;
    position: relative;
    margin-left: 0;
    padding-right: 8px;

    &:hover {
      .img-which-hover {
        visibility: visible;
        opacity: 1;
      }
    }

    .img-which-hover {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      -webkit-transition: opacity 600ms, visibility 600ms;
      transition: opacity 600ms, visibility 600ms;
    }
  }

  .slick-track li {
    float: left;
    position: relative;
    margin-left: 0;
    padding-right: 8px;

    &:hover {
      .img-which-hover {
        visibility: visible;
        opacity: 1;
      }
    }

    .img-which-hover {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      -webkit-transition: opacity 600ms, visibility 600ms;
      transition: opacity 600ms, visibility 600ms;
    }
  }
}

.fade-slider {
  position: relative;
  // height: 500px;
  transition: all ease 1s;

  .slide-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  // @media (max-width: 1799px) {
  //   height: 400px;
  // }

  // @media (max-width: 1399px) {
  //   height: 350px;
  // }

  // @media (max-width: @screen-md-max) {
  //   height: 400px;
  // }
}

.btn-holder {
  text-align: center;
}

.btn {
  white-space: nowrap;
  &-custom {
    border-radius: 6px;
    border: 2px solid @color-blue;
    .font(400, 22px, 1, @color-blue);
    padding: 15px 35px;
    transition: all ease 0.3s;

    i {
      margin-left: 20px;
    }

    &:hover, &:focus {
      background: @color-blue;
      color: #fff;
    }

    &.btn-blue {
      border-color: white;
      color: white;
      background-color: @color-blue;

      &:hover, &:focus {
        background: darken(@color-blue, 10%);
      }
    }
  }

  &-angle {
    padding-right: 20px;

    i {
      margin-left: 10px;
    }
  }

  &-border {
    border: 2px solid #fff;
    color: #fff;

    .fa {
      margin-left: 19px;
    }
  }

  &-blue {
    background: #23b5e9;
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
      background: #177292;
    }
  }

  &-violet {
    background: #2c62ab;
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
      background: #1d457b;
    }
  }

  &-gray {
    background: #4e5457;
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
      background: #2f3335;
    }
  }
}

header {
  position: absolute;
  width: 100%;
  z-index: 100;
  font-family: "BentonSans", sans-serif;
  padding-top: 100px;
  top: -100px;

  &.sticky-header {
    position: fixed;
    top: 0;
    transition: top ease 0.3s;
    padding-top: 0;
    border-radius: 0;

    .admin-bar & {
      top: 32px;
    }

    .navbar-default {
      background-color: white;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      border-radius: 0;

      .navbar-brand {
        padding: 20px 15px;

        .logo-normal {
          display: none;
        }

        .logo-sticky {
          display: block;

          img {
            width: 200px;

            @media (max-width: @screen-sm-max) {
              width: 180px;
            }
          }
        }
      }

      #top-menu {
        margin-top: 17px;
        padding-left: 0;
        list-style: none;
        margin-bottom: 21px;

        li {
          &.current-menu-item {
            a {
              color: @color-blue;

              &.active, &:hover, &:focus {
                color: @color-blue;
              }
            }
          }

          a {
            font-size: 15px;
            color: black;
            padding: 0px 4px 8px;

            @media (max-width: @screen-sm-max) {
              font-size: 14px;
              padding:0 2px 8px;
            }
          }
        }
      }

      .navbar-nav {
        margin-top: 17px;

        li {
          &.active {
            a {
              // color: @color-blue;
              border-bottom:1px solid #fff;

              &.active, &:hover, &:focus {
                border-bottom:1px solid #fff;
                // color: @color-blue;

                @media (max-width: @screen-xs-max) {
                  border-width: 0;
                }
              }
            }
          }

          a {
            font-size: 15px;
            // color: black;
            padding: 15px;

            @media (max-width: @screen-sm-max) {
              font-size: 14px;
              color: #000;
            }
          }
        }
      }

      @media (max-width: @screen-xs-max) {

        

        .navbar-header:not(.open-menu) .navbar-toggle {
          .icon-bar {
            -webkit-transition: top .2s cubic-bezier(.33333,.66667,.66667,1) 0s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) 0s,transform .2s cubic-bezier(.55,.055,.675,.19) .2s;
            -o-transition: top .2s cubic-bezier(.33333,.66667,.66667,1) 0s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) 0s,transform .2s cubic-bezier(.55,.055,.675,.19) .2s;
            transition: top .2s cubic-bezier(.33333,.66667,.66667,1) 0s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) 0s,transform .2s cubic-bezier(.55,.055,.675,.19) .2s;
          }

        }

        .navbar-toggle:not(.collapsed) {
          .icon-bar:nth-child(2) {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
          }

          .icon-bar {
            &:first-child {
              top: 9px;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:last-child {
              bottom: 9px;
              -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
          }

        }
        
        .navbar-toggle {
          margin-top: 27px;
          margin-right: 19px;
          width: 28px;
          height: 21px;
          padding:0;
          top:0;

          .icon-bar {
            background: #2f63af;
            -webkit-transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .2s cubic-bezier(.55,.055,.675,.19) 0s;
            -o-transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .2s cubic-bezier(.55,.055,.675,.19) 0s;
            transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .2s cubic-bezier(.55,.055,.675,.19) 0s;
            position: absolute;
            margin-top: 0;
            top:9px;
            height: 3px;
            width:28px;

            &:first-child {
              top:0;
              margin-top: 0;
              // -webkit-transform: translateY(-10px);
              // -ms-transform: translateY(-10px);
              // -o-transform: translateY(-10px);
              // transform: translateY(-10px);
            }
            &:last-child {
              top: auto;
              bottom:0;
              margin-top: 0;
              // -webkit-transform: translateY(10px);
              // -ms-transform: translateY(10px);
              // -o-transform: translateY(10px);
              // transform: translateY(10px);
            }
          }

          &.collapsed {
            // .icon-bar {
            //   -webkit-transform: scale(0);
            //   -ms-transform: scale(0);
            //   -o-transform: scale(0);
            //   transform: scale(0);

            //   &:first-child {
            //     -webkit-transform: rotate(45deg);
            //     -ms-transform: rotate(45deg);
            //     -o-transform: rotate(45deg);
            //     transform: rotate(45deg);
            //   }

            //   &:last-child {
            //     -webkit-transform: rotate(-45deg);
            //     -ms-transform: rotate(-45deg);
            //     -o-transform: rotate(-45deg);
            //     transform: rotate(-45deg);
            //   }
            // }
          }

        }

        #top-menu {
          li {
            a {
              color: #fff;
              @media (max-width: @screen-xs-max) {
                color: #000;
              }
            }
          }
        }

      }
    }
  }

  .navbar-default {
    border: none;
    background-color: transparent;
    margin-bottom: 0;

    .navbar-collapse {
      @media (max-width: @screen-xs-max) {
        background-color: #f7f7f7;
        padding: 4px 23px;
        border-top-width: 0;
      }
    }

    .navbar-brand {
      height: auto;
      padding: 30px 15px;

      &:hover {
        opacity: 0.8;
      }

      .logo-sticky {
        display: none;
      }
    }

    .navbar-nav {
      margin-top: 20px;

      li {
        margin:0 6px;
        font-family: 'Lato';
        &.active {
          a {
            background-color: transparent;
            border-bottom:1px solid #fff;
            color: #fff;

            @media (max-width: @screen-xs-max) {
              // color: @color-blue;
              border-width: 0;
              color: #23b4eb;
            }

            &.active, &:hover, &:focus {
              background-color: transparent;
              // color: black;
              border-bottom:1px solid #fff;

              @media (max-width: @screen-xs-max) {
                // color: @color-blue;
                border-width:0;
              color: #23b4eb;
              }
            }
          }
        }

        a {
          font-size: 18px;
          line-height: 1;
          font-weight: bold;
          color: white;
          padding: 8px;
          @media (max-width: @screen-xs-max) {
            color: #000;
          }
        }
      }
    }

    #top-menu {
      margin-top: 32px;
      list-style: none;
      padding-left: 0;
      float: right;
      margin-right: -19px;
      margin-bottom: 27px;
      font-family: "BentonSansMedium", sans-serif;

      @media (max-width: @screen-sm-max) {
        margin-top: 24px;
      }

      li {
        display: inline-block;
        margin:16px 12px 0;

        @media (max-width: @screen-sm-max) {
          margin:15px 6px 0;
        }

        &.current-menu-item {
          a {
            background-color: transparent;
            color: #fff;
            border-bottom:1px solid #fff;

            @media (max-width: @screen-xs-max) {
              color: @color-blue;
              border-width: 0;
            }

            &.active, &:hover, &:focus {
              background-color: transparent;
              border-bottom:1px solid #fff;
              text-decoration: none;
              // color: black;

              @media (max-width: @screen-xs-max) {
                color: @color-blue;
                border-width: 0;
              }
            }
          }
        }

        a {
          font-size: 17px;
          line-height: 1;
          font-weight: 500;
          color: white;
          padding: 4px 4px 1px;
          display: inline-block;
          cursor: pointer;

          &.active, &:hover, &:focus {
              background-color: transparent;
              border-bottom:1px solid #fff;
              text-decoration: none;

              @media (max-width: @screen-xs-max) {
                color: @color-blue;
                border-width: 0;
              }
            }

          @media (max-width: @screen-sm-max) {
            font-size: 14px;
            padding: 4px 2px;
            // padding: 20px 15px;
          }
        }
      }

      @media (max-width: @screen-xs-max) {
        float: left;
        
        li {
          display: block;
          text-align: left;
          margin: 11px 0;

          &:first-child {
            margin-top: 0;
          }

          a {
            font-size: 16px;
            font-family: 'BentonSansBold', sans-serif;
          }
        }
      }
    }

    .navbar-nav {
      margin-top: 32px;

      li {
        &.active {
          a {
            background-color: transparent;
            border-bottom:1px solid #fff;
            color: #fff;

            @media (max-width: @screen-xs-max) {
              color: @color-blue;
              border-width: 0;
            }

            &.active, &:hover, &:focus {
              background-color: transparent;
              border-bottom:1px solid #fff;

              @media (max-width: @screen-xs-max) {
                color: @color-blue;
                border-width: 0;
              }
            }
          }
        }

        a {
          font-size: 18px;
          line-height: 1;
          font-weight: bold;
          color: white;
          padding: 8px;
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      .navbar-brand {
        img {
          width: 180px;
        }
      }

      .navbar-nav li a {
        font-size: 15px;
        // padding: 20px 15px;
      }

      .navbar-toggle {
        border: none;
        padding: 0;
        margin: 30px 15px 0;

        &:focus, &:hover {
          background-color: transparent;
        }

        .icon-bar {
          background: white;
          width: 40px;
          height: 5px;
        }
      }
    }

    @media (max-width: @screen-sm-max) {

    }
  }
}

.hero-section {
	background: transparent url(../images/hero-back.png) top center no-repeat;
  background-size: cover;

	.hero-inner {
		display: flex;
		align-items: center;
    padding: 100px 100px 85px;

		.hero-image {
			width: 55%;

			img {
				width: 100%;
			}
		}

		.hero-text {
			width: 45%;
			padding-left: 100px;

      h2 {
        .font(bold, 78px, 100px, white);
        margin-bottom: 25px;
        word-wrap: normal;
      }

      p {
        .font(500, 24px, 43px, white);
      }
		}

    @media (max-width: 1599px) {
      .hero-text {
        h2 {
          font-size: 70px;
          line-height: 90px;
        }
      }
    }

    @media (max-width: 1399px) {
      padding: 100px 50px 55px;

      .hero-text {
        padding-left: 50px;

        h2 {
          font-size: 60px;
          line-height: 1.2;
        }

        p {
          font-size: 24px;
          line-height: 1.3;
        }
      }
    }

    @media (max-width: @screen-md-max) {
      padding: 100px 0 50px;

      .hero-image {
        width: 50%;
      }

      .hero-text {
        width: 50%;
        padding-left: 30px;

        h2 {
          font-size: 50px;
        }

        p {
          font-size: 24px;
        }
      }
    } 

    @media (max-width: @screen-xs-max) {
      display: block;

      .hero-image {
        width: 100%;
        max-width: 500px;
        margin: 0 auto 30px;
      }

      .hero-text {
        padding-left: 0;
        width: 100%;
        text-align: center;
      }
    }

    @media (max-width: 349px) {
      .hero-text h2 {
        font-size: 40px;
      }
    }
	}
}

h4.section-title {
  .font(500, 34px, 1.3, black);
  margin: 0 0 40px;
  text-align: center;
  font-family: 'BentonSansMedium', sans-serif;


  span {
    color: @color-blue;
  }

  @media (max-width: @screen-xs-max) {
    br {
      display: none;
    }

    font-size: 28px;
  }
}

p.section-text {
  .font(normal, 22px, 1.4, #232323);
  text-align: justify;
  margin-bottom: 70px;
  padding: 0 100px;

  @media (max-width: @screen-xs-max) {
    font-size: 20px;
    padding: 0;
  }
}

.what-section {
  padding-top: 70px;

  .row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  .what {
    &-item {
      padding: 0 5px 10px;

      .what-url {
        margin: 0;
        position: absolute;
        left: 42px;
        bottom: 77px;

        @media (max-width: @screen-sm-max) {
          left: 30px;
          bottom: 60px;
        }

        .btn {
          font-size: 20px;
          line-height: 20px;
          padding: 12px 7px 14px;
          border-radius: 6px;
          width: 182px;

          .fa {
            font-size: 23px;
            position: relative;
            top: 1px;
          }
        }
      }

      .what-content {
        background-color: #2c61a8;
        position: relative;
      }

      &:nth-child(1) {
        padding-left: 0;
      }

      &:nth-child(2) {
        .what-content {
          background-image: url(../images/img-engagement.png);
        }
      }

      &:nth-child(3) {
        padding-right: 0;

        .what-content {
          background-image: url(../images/img-communication.png);
        }
      }
    }


    &-content {
      padding: 62px 36px 150px;
      height: 100%;
      background: transparent url(../images/img-integration.png) center center no-repeat;
      background-size: cover;

      h4 {
        .font(500, 42px, 1.2, white);
        margin-bottom: 23px;
        font-family: 'BentonSansMedium', sans-serif;
      }

      p {
        .font(normal, 15px, 23px, white);
      }

      .what-info {
        padding:0 5px;
      }
    }

    @media (max-width: @screen-md-max) {
      &-content {
        padding: 60px 30px 144px;

        h4 {
          font-size: 35px;
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      &-content {
        h4 {
          font-size: 30px;
        }

        p {
          font-size: 13px;
        }
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    .row {
      display: block;
    }
    
    .what-item {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .what-content {
    }
  }
}

.video-section {
  background: #eeeef0;
  margin-bottom: 10px;
  padding: 100px 0 70px;

  .row {
    // display: flex;
    // align-items: center;
  }

  .shell-image-video {
    float: right;

    @media (max-width: @screen-xs-max) {
      float: none;
      text-align: center;
    }
  }

  .video-content {
    padding: 0 60px;

    h5 {
      .font(500, 29px, 1.4);
      margin: 0 0 30px;

      @media (max-width: @screen-sm-max) {
        margin-bottom: 17px;
      }

      span {
        color: @color-blue;
      }
    }

    .video-holder {
      position: relative;
      padding-bottom: 56.25%;
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);

      .video-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 32px;
        background: white;
        display: flex;
        align-items: center;
        z-index: 1;

        .info-content {
          width: 100%;
          text-align: center;
        }

        h6 {
          font-size: 21px;
          color: #969696;
          margin-bottom: 50px;
        }

        .logo-holder {
          margin-bottom: 40px;

          img { 
            max-width: 100%;
          }
        }

        .btn-play {
          height: 45px;
          padding: 7px;
          border-radius: 22.5px;
          border: 1px solid #969696;
          display: inline-block;
          cursor: pointer;

          span {
            font-size: 22px;
            color: #969696;
            display: inline-block;
            padding: 0 15px 0 5px;
            vertical-align: middle;
          }
        }
      }

      video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .video-image {
    padding: 0 60px;

    @media (max-width: 1400px) {
      padding:0;
    }

    @media (max-width: @screen-sm-max) {
      display: none;
    }

    @media (max-width: @screen-xs-max) {
      display: block;
    }

    &.video-image-xs {
      display: none;

      img {
        min-height: 472px;
        width: 100%;
        height: auto;
        position: relative;
        top: -22px;
      }

      @media (max-width: @screen-sm-max) {
        display: block;
      }

      @media (max-width: @screen-xs-max) {
        display: none;
      }
    }

    img {
      width: 100%;
    }
  }

  @media (max-width: 1599px) {
    .video-content {
      padding: 0;
    }
  }

  @media (max-width: @screen-md-max) {
    .video-content {
      h5 {
        font-size: 22px;
      }

      .video-holder {
        .video-info {
          h6 {
            font-size: 18px;
            margin-bottom: 30px;
          }

          .logo-holder {
            img {
              max-width: 240px;
            }
          }
        }
      }
    }

    .video-image {
      padding: 0;
    }
  }

  @media (max-width: @screen-xs-max) {
    padding: 60px 0;

    .row {
      flex-flow: column wrap;
      flex-direction: column-reverse;
    }

    .video-image {
      margin-bottom: 30px;

      img {
        max-width: 500px;
      }
    }
  }

  @media (max-width: 499px) {
    .video-content {
      .video-holder {
        .video-info {
          h6 {
            font-size: 15px;
            margin-bottom: 15px;
          }

          .logo-holder {
            margin-bottom: 20px;

            img {
              max-width: 180px;
            }
          }

          .btn-play {
            padding: 5px;
            height: auto;

            img {
              width: 20px;
            }

            span {
              font-size: 15px;
              padding: 2px 5px 0 5px;
            }
          }
        }
      }
    }
  }
}

.why-section {
  padding: 70px 0;
  background: transparent url(../images/why-back.jpg) top center no-repeat;
  background-size: cover;

  h4.section-title {
    color: white;
    margin-bottom: 90px;
  }

  .why-inner {
    padding: 0 50px;
  }

  .why-info {
    display: flex;
    margin-bottom: 30px;

    .why-detail {
      width: 80%;
      display: flex;
      position: relative;
      margin-bottom: 20px;

      &:after {
        content:'';
        position:absolute;
        left:0;
        height:100%;
        background: @color-blue;
        width: 1px;
      }

      .why-item {
        width: 25%;
      }
    }

    h3 {
      width: 20%;
      text-align: right;
      .font(500, 28px, 1, white);
      margin: 0 0 20px;
      padding-right: 30px;
      word-break: normal;
      font-family: 'BentonSansMedium', sans-serif;

      @media (max-width: @screen-md-max) {
        padding-right: 15px;
      }
    }

    .why-item {
      padding: 5px 25px;

      span {
        display: block;
        white-space: nowrap;
        .font(400, 24px, 1, white);
        font-family: 'BentonSansMedium';
      }

      p {
        .font(normal, 15px, 23px, white);
        margin: 0;
      }
    }

    @media (max-width: @screen-md-max) {
      .why-item {
        span {
          font-size: 20px;
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      h3 {
        width: 35%;
        font-size: 24px;
      }

      .why-detail {
        width: 65%;
        flex-wrap: wrap;

        .why-item {
          width: 50%;
          margin-top: 20px;

          &:nth-child(1),
          &:nth-child(2){
            margin-top: 0;
          }
        }
      }
    }

    @media (max-width: @screen-xs-max) {
      display: block;
      max-width: 500px;
      margin: auto;

      h3 {
        width: 100%;
        font-size: 20px;
        text-align: left;
      }

      .why-detail {
        width: 100%;


        .why-item {
          width: 100%;

          &:nth-child(2) {
            margin-top: 20px;
          }
        }
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    padding: 60px 0;

    .why-inner {
      padding: 0;
    }

    h4.section-title {
      margin-bottom: 50px;
    }
  }
}

.which-section {
  padding: 70px 0 75px;

  .which-inner {
    padding: 0 50px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    color: #232323;
    max-width: 1250px;
    text-align: justify;
    margin: 0 auto 110px;
  }

  .service-info {
    text-align: center;
    margin-bottom: 100px;

    h6 {
      .font(500, 24px, 1);
      margin-bottom: 30px;

      span {
        color: @color-blue;
      }
    }

    .img-holder {
      img {
        max-width: 100%;
      }
    }

    .service_image-xs {
      display: none;
      padding-top: 12px;

      img {
        max-width: 390px;
        width:100%;
      }
    }

    @media (max-width: @screen-xs-max) {
      .service_image-xs {
        display: block;
      }

      .service_image-md {
        display: none;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    padding: 65px 0 55px;

    .which-inner {
      padding: 0;
    }
  }

  @media (max-width: @screen-xs-max) {
    p {
      font-size: 15px;
      margin-bottom: 50px;
    }

    .logo-slider {
      margin-bottom: 50px;
    }
  }
}

.other-section {
  padding: 60px 0 70px;

  h6 {
    .font(500, 24px, 1);
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;

    span {
      color: @color-blue;
    }
  }

  .other-items {
    display: flex;
    justify-content: space-between;

    .other-item {
      width: calc(50% ~"-" 27px);
      background-size: cover;
      background-position: center center;

      &.other-market {
        position: relative;
        padding: 50px 225px 30px 35px;
        background-image: url(../images/other-back1.png);

        p {
          .font(normal, 30px, 1.3, white);
          margin-bottom: 50px;
        }

        .ipad-image {
          position: absolute;
          width: 215px;
          right: 0;
          top: -40px;

          img {
            width: 100%;
          }
        }

        .other-info {
          display: flex;

          .btn-market {
            display: inline-block;
            white-space: nowrap;
            .font(normal, 17px, 1, white);
            padding: 17px 20px;
            border: 1px solid white;
            border-radius: 5px;
            white-space: nowrap;
            margin: 0 25px;
            transition: all ease 0.3s;

            &:hover,
            &:focus,
            &:active{
              background: darken(#181f22, 10%);
              text-decoration: none;
            }

            i {
              margin-left: 15px;
            }
          }
        }

        @media (max-width: 1799px) {
          p {
            margin-bottom: 40px;
          }

          .other-info {
            display: block;
            text-align: center;

            img {
              margin-bottom: 15px;
            }
          }
        }

        @media (max-width: @screen-md-max) {
          padding-right: 35px;

          p {
            font-size: 24px;
            padding-right: 180px;
          }

          .ipad-image {
            width: 170px;
            top: -40px;
          }
        }

        @media (max-width: 499px) {
          padding: 20px 15px;
          text-align: center;

          .ipad-image {
            display: none;
          }

          p {
            padding-right: 0;
            font-size: 20px;
          }

          .other-info a.btn-market {
            margin: 0;
          }
        }
      }

      &.other-gigs {
        padding: 40px 40px 0;
        background-image: url(../images/other-back2.jpg);
        text-align: center;
        position: relative;
        overflow: hidden;

        .gigs-bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 75px;
          width: 100%;
          background-color: #eceff0;

          &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            width: 50%;
            background: transparent url(../images/decor-grey.png) center center no-repeat;
            background-size: 100% auto;
            height: 100px;
            top: -50px;
          }

          &:before {
            left: 0;
          }

          &:after {
            right: -3px;
            transform: rotate(180deg);
          }
        }

        .btn-gigs {
          white-space: nowrap;
          .font(normal, 17px, 1, white);
          padding: 17px 20px;
          display: inline-block;
          border: 1px solid white;
          background-color: @color-blue;
          border-radius: 5px;
          position: relative;
          z-index: 1;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 50px;
          transition: all ease 0.3s;

          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
            background: darken(@color-blue, 10%);
          }

          i {
            margin-left: 15px;
          }
        }

        .other-top {
          text-align: left;
          display: flex;
          align-items: center;
          margin-bottom: 40px;

          p {
            .font(normal, 22px, 1.4, white);
            padding-left: 30px;
            border-left: 1px solid white;
            margin: 0;
          }

          img {
            margin-right: 30px;
          }
        }

        @media (max-width: 1399px) {
          .other-top {
            display: block;

            p {
              border-left: none;
              padding-left: 0;
              margin: 40px 0 40px;
            }
          }
        }

        @media (max-width: 499px) {
          padding: 20px 15px;

          .other-top {
            img {
              max-width: 260px;
            }

            p {
              font-size: 20px;
            }
          }

          .btn-gigs {
            white-space: nowrap;
          }
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      display: block;

      .other-item {
        width: 100%;
        max-width: 700px;
        margin: auto;

        &.other-market {
          margin-bottom: 50px;

          .other-info {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &.other-gigs {
          padding-bottom: 100px;
        }
      }
    }
  }
}

.who-section {
  background: #eeeef0;
  padding: 70px 0 70px;
  margin-bottom: 10px;

  .who-inner {
    padding: 0 50px;
  }

  h4.section-title {
    margin-bottom: 100px;
  }

  .luft-block {
    display: flex;
    align-items: center;

    .luft-comment {
      width: 45%;
      padding: 0 50px;
      text-align: center;

      .logo-holder {
        margin-bottom: 50px;

        img {
          max-width: 100%;
        }
      }

      p {
        padding-top: 50px;
        padding-left: 50px;
        .font(normal, 26px, 36px, black);
        border-top: 1px solid #9b9b9b;
        text-align: left;
        position: relative;

        &:before, &:after {
          content: '“';
          .font(normal, 80px, 0, #9b9b9b);
        }

        &:before {
          position: absolute;
          top: 77px;
          left: 10px;
        }

        &:after {
          content: '”';
          position: relative;
          top: 50px;
        }
      }
    }

    .luft-image {
      width: 55%;

      img {
        width: 100%;
      }
    }

    @media (max-width: 1399px) {
      .luft-comment {
        width: 50%;
      }

      .luft-image {
        width: 50%;
      }
    }

    @media (max-width: @screen-sm-max) {
      .luft-comment {
        padding: 0;

        .logo-holder {
          margin-bottom: 25px;
        }

        p {
          font-size: 22px;
          padding-top: 30px;

          &:before { 
            top: 55px;
          }
        }
      }
    }
  }

  @media (max-width: @screen-md-max) {
    padding: 60px 0;

    .who-inner {
      padding: 0;
    }

    h4.section-title {
      margin-bottom: 60px;
    }
  }

  @media (max-width: @screen-xs-max) {
    .luft-block {
      flex-flow: column wrap;
      flex-direction: column-reverse;

      .luft-comment {
        width: 100%;
      }

      .luft-image {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;

        img {
          max-width: 400px;
        }
      }
    }
  }
}

.contact-section {
  padding: 160px 0 110px;
  background: transparent url(../images/contact-back.jpg) top center no-repeat;
  background-size: cover;

  .container-inner {
    display: flex;

    h4 {
      width: 50%;
      padding-right: 45px;
      .font(500, 45px, 58px, white);
      text-align: right;
      margin: 0;

      &:after {
        content:'';
        clear:both;
        display: table
      }

      span {
        display: inline-block;
        float: right;
        max-width: 456px;
      }
    }

    .contact-form {
      width: 50%;
      padding-left: 66px;
      padding-right: 200px;
      border-left: 2px solid white;

      .submit-button {
        display: inline-block;
        margin-top: 10px;
        position: relative;

        .ajax-loader-holder {
          display: inline-block;
          width: 20px;
          height: 16px;
        }

        &:after {
          position: absolute;
          top: 13px;
          right: 40px;
          content: '\f105';
          font-family: "FontAwesome", sans-serif;
          font-size: 27px;
          color: white;
        }

        .btn {
          padding-right: 55px;
        }
      }

      form {
        max-width: 420px;
        padding-bottom: 40px;

        .input-holder {
          margin-bottom: 13px;

          .form-control {
            background-color: rgba(39, 136, 186, 0.3);
            border-radius: 6px;
            height: auto;
            padding: 16px 19px;
            border: 2px solid white;
            .font(normal, 16px, 1, white);


            &::placeholder {
              color: white;
            }
          }
        }
      }
    }
  }

  @media (max-width: @screen-md-max) {
    .container-inner {
      .contact-form {
        padding-right: 100px;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    padding: 100px 0 80px;

    .container-inner {
      h4 {
        font-size: 30px;
        line-height: 1.2;
      }

      .contact-form {
        padding-right: 0;
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    padding: 60px 0 50px;

    .container-inner {
      display: block;
      max-width: 450px;
      margin: auto;

      h4 {
        width: 100%;
        text-align: left;
        margin-bottom: 30px;
        font-size: 26px;
        padding-right: 0;
      }

      .contact-form {
        width: 100%;
        border-left: none;
        padding-left: 0;
      }
    }
  }
}

.alumni-section {
  padding: 70px 0;
  text-align: center;

  .section-title {
    margin-bottom: 67px;
  }

  .alumni-ref {
    font-size: 0;

    p {
      font-size: 14px;
      color: #838c90;
      margin-bottom: 30px;
    }

    a {
      margin: 0 18px 20px;
      display: inline-block;
    }
  }

  @media (max-width: @screen-md-max) {
    padding: 60px 0 50px;
  }
}

form {
  [role="alert"] {
    display: inline-block;
    font-size: 12px;
    margin: 4px 0 0;
    olor: #e44f4f;
  }
}

.pagination {
  border-top: 2px solid #fff;
  text-align: right;
  margin-top: 8px;
  padding: 17px 0;

  &,
  .page-numbers.current {
    font-size: 16px;
  }

  a {
    color: #22b6e6;
    display: inline-block;
    vertical-align: top;
  }
  .prev.page-numbers,
  .next.page-numbers {
    background-color: #dddddd;
    padding: 6px 8px 5px;
    font-size: 15px;
    line-height: 1;

    &:hover,
    &:focus {
      color: #22b6e6;
      text-decoration: none;
      background-color: #e8e4e4;
    }
  }

  .next.page-numbers {
    margin-left: 11px;
    margin-right: 0;
  }

  .prev.page-numbers {
    margin-right: 11px;
    margin-left: 0;
  }

  .page-numbers {
    padding: 6px 3px;
    margin:0 5px;
    line-height: 1;
    font-weight: 600;
  }

  .prev.page-numbers {
    float: none;
  }
}

@media (max-width: @screen-xs-max) {
  header {
      position: fixed;
      top: 0;
      transition: top ease 0.3s;
      padding-top: 0;
      border-radius: 0;

      .admin-bar & {
        top: 32px;
      }

      .navbar-default {
        background-color: white;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        border-radius: 0;

        .navbar-brand {
          padding: 20px 18px;

          .logo-normal {
            display: none;
          }

          .logo-sticky {
            display: block;

            img {
              width: 177px;
            }
          }
        }

        #top-menu {
          margin-top: 17px;
          padding-left: 0;
          list-style: none;
          margin-bottom: 8px;

          li {
            &.current-menu-item {
              a {
                color: @color-blue;

                &.active, &:hover, &:focus {
                  color: @color-blue;
                }
              }
            }
          }
        }

        .navbar-nav {
          li {
            &.active {
              a {
                &.active, &:hover, &:focus {
                  border-width: 0;
                }
              }
            }
          }
        }



        .navbar-header:not(.open-menu) .navbar-toggle {
          .icon-bar {
            -webkit-transition: top .2s cubic-bezier(.33333,.66667,.66667,1) 0s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) 0s,transform .2s cubic-bezier(.55,.055,.675,.19) .2s;
            -o-transition: top .2s cubic-bezier(.33333,.66667,.66667,1) 0s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) 0s,transform .2s cubic-bezier(.55,.055,.675,.19) .2s;
            transition: top .2s cubic-bezier(.33333,.66667,.66667,1) 0s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) 0s,transform .2s cubic-bezier(.55,.055,.675,.19) .2s;
          }

        }

        .navbar-toggle:not(.collapsed) {
          .icon-bar:nth-child(2) {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
          }

          .icon-bar {
            &:first-child {
              top: 9px;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:last-child {
              bottom: 9px;
              -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
          }

        }
        
        .navbar-toggle {
          margin-top: 27px;
          margin-right: 19px;
          width: 28px;
          height: 21px;
          padding:0;
          top:0;

          .icon-bar {
            background: #2f63af;
            -webkit-transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .2s cubic-bezier(.55,.055,.675,.19) 0s;
            -o-transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .2s cubic-bezier(.55,.055,.675,.19) 0s;
            transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,bottom .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .2s cubic-bezier(.55,.055,.675,.19) 0s;
            position: absolute;
            margin-top: 0;
            top:9px;
            height: 3px;
            width:28px;

            &:first-child {
              top:0;
              margin-top: 0;
            }
            &:last-child {
              top: auto;
              bottom:0;
              margin-top: 0;
            }
          }
        }

        #top-menu {
          li {
            a {
              color: #000;
            }
          }
        }
      }
    }
}

.download-pdf {
  margin: 40px 0 10px;
  a {
    font-weight: normal;
    font-size: 13px;
    line-height: 1.3;
    color: #838c90;

    span {
      color: #23b5e9;
    }
  }
  .download-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 26px;
    height: 32px;
    background: url(../images/icon-pdf.png);
  }
}