.single {
	.main {
		padding: 30px 0 0;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: url(../images/section-bg.jpg) repeat-x;
			height: 379px;
			width: 100%;

            @media #{$xs-max}{
                height: 359px;
            }
		}
	}

	.content-holder {
		position: relative;
		z-index: 1000;
	}

	.content {
		overflow: hidden;
		background: $white;

		.holder {
			padding: 70px 36px;

			@media #{$xs-max} {
				padding: 40px 0;
			}

			h1 {
				margin: 0 0 75px;
				font-size: 41px;
				line-height: 44px;

				@media #{$xs-max} {
					margin: 0 0 30px;
					font-size: 28px;
					line-height: 38px;
				}
			}
		}
	}

	.top-panel {
		padding: 15px 0;
		font-size: 14px;
		border-bottom: 1px solid #e5e5e5;

		.tag-list {
			float: left;
			padding: 0;
			margin: 0;

			@media #{$sm-max} {
				float: none;
				margin: 0 0 15px;
			}

			li {
				list-style: none;
				display: inline-block;
				vertical-align: top;
				margin: 0 10px 0 0;

				@media #{$sm-max} {
					margin: 0 3px 0 0;
				}

				@media #{$xm-max} {
					margin: 0 3px 5px 0;
				}

				&:last-child {
					margin: 0;
				}

				a {
					display: block;
					border: 2px solid #dcdcdc;
					border-radius: 0;
					padding: 3px 4px 2px;
					color: rgba($black,.3);

					&:hover,
					&:focus {
						text-decoration: none;
						border-color: $blue-text;
						color: $black;
					}
				}
			}

			.active {
				a {
					color: $black;
					border-color: $blue-text;
				}
			}
		}
	}

	.blog-title {
		padding: 19px 0;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		font-size: 14px;

		@media #{$xs-max} {
			padding: 10px 0;
		}
	}

	.social {
		margin: 0;
		padding: 0;
		float: right;

		@media #{$sm-max} {
			float: none;
		}
		span {
			font-size: 14px;
			display: inline-block;
			vertical-align: middle;
			line-height: 25px;
			margin: 0 6px 0 0;
		}
		a {
			list-style: none;
			display: inline-block;
			vertical-align: middle;
			margin: 0 6px 0 0;
			padding: 0;
			font-size: 14px;

			&:last-child {
				margin: 0;
			}

			.fa {
				color: #b2b2b2;
				font-size: 24px;
			}

			&:hover {
				opacity: .7;
			}
		}
		.addtoany_shortcode {
			display: inline-block;
		}
	}

	.text-holder {
		padding: 56px 0 0;

		@media #{$xs-max} {
			padding: 28px 0 0;
		}

		p {
			margin-bottom: 25px;
		}
	}
}
