.search,
.blog,
.archive {
    .main {
        padding: 30px 0 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: url(../images/section-bg.jpg) repeat-x center;
            height: 380px;
            width: 100%;

            @media #{$xs-max}{
                height: 359px;
            }
        }
    }

    .content-holder {
        position: relative;
        max-width: 1150px;
        z-index: 1000;
        padding: 0;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 288px;
            position: absolute;
            top: 350px;
            bottom: 0;
        }

        &:before {
            left: -288px;
            background: url('#{$path-img}shadow-left.png') no-repeat center center / cover;
        }

        &:after {
            right: -288px;
            background: url('#{$path-img}shadow-right.png') no-repeat center center / cover;
        }
    }

    .content {
        position: relative;
        overflow: hidden;
        background: #fff;
        padding: 30px 25px 160px 25px;

        @media #{$sm-max} {
            padding-bottom: 100px;
        }

        @media #{$xs-max} {
            padding: 30px 15px;
        }
    }

    .blog-title {
        padding: 0;
        margin: 60px 0 50px;
        font: 300 42px/1 'BentonSans-Light';

        @media #{$xs-max} {
            font-size: 32px;
        }

        @media #{$xs-max} {
            margin: 0 0 30px;
        }
    }

    .navigation {
        float: right;
        padding: 30px 0 0;
        margin: 0;

        h2 {
            padding: 0;
            margin: 0 12px 0 0;
            float: left;
            font: 400 16px/27px 'BentonSans-Medium';
            color: #121212;
        }

        .nav-links {
            float: right;
            display: inline-block;
            margin: 0;
            padding: 0;
            font: 400 16px/24px 'BentonSans-Medium';
            white-space: nowrap;


            a {
                margin: 0 0 0 12px;
                font-size: 16px;
                color: #0d97d7;
            }

            .current {
                margin: 0 0 0 12px;
                font-size: 24px;
                color: #121212;
            }
        }
    }
}