.layout {

	strong {
		font-family: 'BentonSans-Bold', Arial, Helvetica, sans-serif;
		font-weight: 400;
	}
	
	.title {
		font: 300 40px/45px 'BentonSans-Light', Arial, Helvetica, sans-serif;
		margin: 0 0 40px;
		display: inline-block;

		@media #{$md-max} {
			font-size: 35px;
			line-height: 40px;
		}

		@media #{$sm-max} {
			font-size: 30px;
			line-height: 37px;
		}

		@media #{$xs-max} {
			font-size: 27px;
			line-height: 31px;
		}

		span {
			display: block;
			font-size: 16px;
			line-height: 17px;
			margin: 13px 0 0;
			font-family: $benton-sans;
			// position: relative;
			// right: 22px;
		}
	}
}

.section {
	padding: 100px 0 100px 55px;

	@media #{$md-max} {
		padding: 50px 0 50px 30px;
	}

	@media #{$xs-max} {
		padding: 30px 10px;
	}
}

.promo-section {
	position: relative;
	padding: 54px 0 72px 55px;
	background: url(../images/section-bg.jpg);
	background-size: cover;

	@media #{$md-max} {
		padding: 50px 0 50px 30px;
	}

	@media #{$xs-max} {
		padding: 30px 10px;
	}

	.title-holder {
		position: relative;
		z-index: 100;

		@media #{$xs-max} {
			margin: 0 0 20px;
		}

		strong {
			font-family: 'BentonSans-Bold', Arial, Helvetica, sans-serif;
		}
	}

	h1 {
		font: 300 40px/43px 'BentonSans-Light', Arial, Helvetica, sans-serif;
		margin: 0 0 32px;

		@media #{$md-max} {
			font-size: 35px;
			line-height: 40px;
		}

		@media #{$sm-max} {
			font-size: 30px;
			line-height: 37px;
			margin-bottom: 20px;
		}

		@media #{$xs-max} {
			font-size: 27px;
			line-height: 31px;
		}
	}

	.big-link {
		display: inline-block;
		vertical-align: top;
		font: 300 40px/43px 'BentonSans-Light', Arial, Helvetica, sans-serif;
		margin: 0 0 32px;
		
		@media #{$md-max} {
			font-size: 25px;
			line-height: 30px;
		}

		@media #{$sm-max} {
			font-size: 22px;
			margin-bottom: 15px;
		}

		strong {
			font-weight: 400;
			font-family: $benton-sans;
		}
	}

	.img-holder {
	    position: absolute;
		right: 0;
		top: -46px;

		img {
			max-width: 100%;
		}

		@media #{$xs-max} {
			position: static;
		}
	}
}

.about-section {

	p {
		text-align: left;
		margin: 0 0 18px;
	}

	.title {

		@media #{$xs-max} {
			text-align: center;
		}
	}

	.sidebar {
		margin: 0;
		background: none;
		padding: 0;
		text-align: left;
		width: auto;

		@media #{$sm-max}  {
			width: 100%;
			margin: 0;
		}

		&:after {
			display: none;
		}

		h2 {
			color: #737474;
			margin: 0;
			padding: 15px 0 12px;
			border-bottom: 1px solid #e5e5e5;
			font-family: 'BentonSans-Medium';
		}

		+ .content {
			padding: 0;
		}
	}

	.content {
		padding: 0 100px 0 0;

		@media #{$sm-max} {
			padding: 0 0 30px;
		}
	}

	.link-go {
		color: #000101;
		opacity: .7;
		font-size: 14px;
		font-family: 'BentonSans-Bold';

		.fa {
			font-weight: 600;
		}
	}

	.post-holder {
		border: 2px solid #f7f7f7;
		padding: 0 13px 15px;

		.post-list {
			padding: 23px 0 5px;
			border: none;
		}

		.post {
			padding: 1px 5px 20px 53px;
			border: none;

			&:last-child {
				padding-bottom: 0;
			}

			.post-title {
				font: 400 20px/23px 'BentonSans-Regular', sans-serif;
				
				@media #{$xs-max} {
					font-size: 16px;
					line-height: 21px;
				}

			}

			.post-date {
				width: 39px;
				height: 38px;
				font-size: 18px;
				line-height: 21px;
				padding: 5px;
				top: 0;

				@media #{$sm-max} {
					position: absolute;
				}

				span {
					font-size: 9px;
					line-height: 9px;
				}
			}

			.post-meta {
				font-size: 14px;
				padding-bottom: 19px;
				border-bottom: 1px solid #e5e5e5;
			}
		}
	}

	.wp-video {
		background: #f1f1f1;
		padding: 20px 20px 13px;
		margin: 0 0 17px;

		@media #{$sm-max} {
			width: 100% !important;
			max-width: 100%;
			margin: 0 0 20px;
		}
	}

	.mejs-overlay-error {
		color: #fff;
		margin-top: -10px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;
	}
}

.five-column {
	.col {
		float: left;
		width: 19%;
		margin: 0 1% 0 0;

		@media #{$sm-max} {
			float: none;
			width: 100%;
		} 

		&:first-child {
			margin: 0 0 0 20%;

			@media #{$sm-max} {
				margin: 0;
			}
		}
	}
}

.features-section {
	background: rgb(246,246,246);
	background: -moz-linear-gradient(top,  rgba(246,246,246,1) 0%, rgba(248,248,248,1) 36%, rgba(250,250,250,1) 37%, rgba(248,248,248,1) 37%, rgba(248,248,248,1) 40%, rgba(250,250,250,1) 41%, rgba(248,248,248,1) 42%, rgba(250,250,250,1) 43%, rgba(251,251,251,1) 65%, rgba(253,253,253,1) 66%, rgba(254,254,254,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(248,248,248,1) 36%,rgba(250,250,250,1) 37%,rgba(248,248,248,1) 37%,rgba(248,248,248,1) 40%,rgba(250,250,250,1) 41%,rgba(248,248,248,1) 42%,rgba(250,250,250,1) 43%,rgba(251,251,251,1) 65%,rgba(253,253,253,1) 66%,rgba(254,254,254,1) 100%);
	background: linear-gradient(to bottom,  rgba(246,246,246,1) 0%,rgba(248,248,248,1) 36%,rgba(250,250,250,1) 37%,rgba(248,248,248,1) 37%,rgba(248,248,248,1) 40%,rgba(250,250,250,1) 41%,rgba(248,248,248,1) 42%,rgba(250,250,250,1) 43%,rgba(251,251,251,1) 65%,rgba(253,253,253,1) 66%,rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#fefefe',GradientType=0 );
}

.block-features {
	text-align: left;

	@media #{$sm-max} {
		margin-bottom: 20px;
	}

	.subtitle {
		font: 400 24px/28px 'BentonSans-Regular', Arial, Helvetica, sans-serif;
		border-bottom: 1px solid $blue;
		padding: 0 0 16px;
		margin: 0 0 16px;
	}

	h4 {
		font-size: 16px;
		font-family: 'BentonSans-Bold', Arial, Helvetica, sans-serif;
	}

	.description-holder {
		font-size: 14px;

		.icon {
			float: left;
			margin: 0 18px 0 0;
		}

		.description {
			overflow: hidden;
		}
	}
}

.service-section {
	background: $light-bg;

	.img-holder {
		padding: 58px 0 0;

		img {
			max-width: 100%;

			&:first-child {
				margin: 0 60px 0 0;

				@media #{$md-max} {
					margin: 0 40px 100px;
				}
			}
		}
	}

	.img-responsive {
		margin: 0 auto;
	}
}

.integration-section {
    background: #f1f1f1;

	.add {
		font-size: 24px;
		line-height: 27px;
	}
}

.list-logo {
    padding: 120px 0 41px;
    margin: 0 auto;
	max-width: 930px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

    @media #{$md-max} {
		padding: 40px 0;
	}

	li {
		display: inline-block;
		vertical-align: middle;
		list-style-type: none;
		margin: 0 0 40px;
		width: 16.6666%;
		opacity: .5;
		transition: all .2s;
		font-size: 0;

		@media #{$xs-max} {
			width: 33%;
		}
		@media #{$xm-max} {
			width: 50%;
			margin: 0 0 20px;
		}

		&:hover {
			opacity: 1;

			.img {
				display: none;
			}
			.img-hover {
				display: block;
				margin: 0 auto;
			}
		}

		.img-hover {
			display: none;
		}
	}
}

.contacts-section {
	background: url(../images/section-bg.jpg);
	background-size: cover;
	font-size: 14px;
	line-height: 18px;

	.title {
		display: block;
		font: 300 34px/38px 'BentonSans-Light', Arial, Helvetica, sans-serif;
		border-bottom: 1px solid $blue;
		padding: 0 0 19px;
		margin: 0 0 12px;
	}

	blockquote {
		font-size: 14px;
		line-height: 18px;
		border: none;
		padding: 0;
		text-align: justify;

		i {
			margin: 19px 0 12px;
			display: block;
			font-style: normal;
			font-family: 'BentonSans-RegularItalic', Arial, Helvetica, sans-serif;
		}
	}

	.autor-holder {
		position: relative;
		padding: 20px 0 0;
		border-top: 1px solid $blue;

		@media #{$xs-max} {
			text-align: center;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0px;
			left: 25px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 7.5px 0 7.5px;
			border-color: #0d97d7 transparent transparent transparent;
		}

		.img-holder {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
		}

		cite {
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 0 13px;
			font-style: normal;

			strong {
				display: block;
			}
		}
	}

	.form-holder {
		padding: 46px 0 0;

		p {
			padding-left: 117px;
			margin: 0 0 17px;
		}

		@media #{$xs-max} {
			padding-top: 20px;
		}
	}
}

.main-text {
	font-size: 23px;
	line-height: 27px;
	margin: 0 0 60px;

	@media #{$xs-max} {
		margin-bottom: 30px;
	}
}

.tags-holder {
	padding: 0 0 10px;

	.tag {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		background: $blue;
		color: $white;
		padding: 2px 5px 2px;
		width: 135px;
		margin: 0 3px 11px;
		font-size: 21px;
	}

	div {
		.tag {
			width: 155px;
		}
	}
}

 .list-business {
 	margin: 0 auto;
 	padding: 0;
 	max-width: 1000px;
 	text-align: center;
 	font-size: 0;

 	li {
 		list-style: none;
 		width: 21%;
 		display: inline-block;
 		vertical-align: top;
 		font-size: 17px;
 		margin: 0 2% 43px;
 		color: #3d4e62;

 		@media #{$sm-max} {
 			width: 29.333%;
 			font-size: 16px;
 		}

 		@media #{$xs-max} {
 			width: 46%;
 		}

 		@media #{$xm-max} {
 			display: block;
 			width: 100%;
 		}

 		.icon {
 			border-bottom: 1px solid #bdc3c9;
 			display: inline-block;
 			vertical-align: top;
			padding: 0 0 15px;
			margin: 0 0 8px;
 		}
 	}
 }

.section-modules {
	background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
	text-align: center;

	@media #{$sm-max} {
		position: relative;
		padding-top: 130px;
	}

	.first-slider {
		.text {
			width: 100%;
			float: left;
			padding-right: 20px;
			img {
				max-width: 100% !important;
				display: inline-block;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			h4 {
				font-size: 23px;
				margin: 24px 0 9px;
				line-height: 28px;
			}
			p {
				font-size: 16px;
				line-height: 30px;

				@media #{$sm-max} {
					margin: 0 0 30px;
				}
			}
		}
	}
	.second-slider {
		padding-top: 95px;

		@media #{$sm-max} {
			position: absolute;
			top: 0;
			left: 50%;
			width: 100%;
			padding: 0 0 30px;
			transform: translate(-50%);
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			width: calc(100% / 6);
			height: 110px;
			a {
				margin: 0 7px;
				background: #eeeeee;
				display: block;
				border-bottom: 5px solid transparent;
				height: 100%;
				img{
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					padding: 0 10px;
					max-width: 100%;
				}
				.active-img {
					display: none;
				}

				.inactive-img {
					display: block;
				}
				
				&.active {
					border-bottom: 5px solid #05a6e6;

					.active-img {
						display: block;
					}

					.inactive-img {
						display: none;
					}
				}
			}
		}
	}

	@media #{$md-max} {
		.notebook {
			width: 100%;
			float: none;
			margin-top: 20px;
		}
		.first-slider {
			.text {
				width: 100%;
				float: none;
				padding: 0;
			}
		}
		.second-slider {
			.slick-current {
				a {
					border-bottom: 5px solid #05a6e6;
				}

				.active-img {
					display: block;
				}

				.inactive-img {
					display: none;
				}
			}
		}
	}
}
.slick-slide{
	& * {
		outline: none;
		&:active, &:focus {
			outline: none;
		}
	}
	&:active, &:focus {
		outline: none;
	}
	outline: none;
}