.page-template-template-notification, .page-template-template-service {

	.section {
		padding-left: 0;
	}

	.promo-section {
		.icon-holder {
			margin-bottom: 20px;
		}

		h1 {
			margin-bottom: 11px;
		}

		.info {
			margin: 0 0 50px;
		}
	}

	.notification-service-holder {
		border: 2px solid #59c05c;
		margin-bottom: 20px;

		h3 {
			font-size: 24px;
			padding: 15px 0;
			margin: 0;
			text-align: center;
			color: $white;
			background: #59c05c;
		}
	}

	.notification-service-list {
		margin: 0;
		padding: 50px 46px;

		@media #{$sm-max} {
			padding: 25px 23px;
		}

		li {
			list-style: none;
			margin: 0 0 40px;

			&:last-child {
				margin: 0;
			}

			.status {
				float: right;
			}

			p {
				overflow: hidden;
				margin-right: 30px;
			}
		}

		.description {
			font-size: 12px;
			line-height: 15px;

			h4 {
				font-size: 18px;
				line-height: 21px;
				margin: 0;
			}
		}
	}

	.block-scheduled {
		background: #bababa;
		color: $white;
		text-align: center;
		padding: 17px 40px;
		font-size: 15px;
		line-height: 19px;

		h3 {
			margin: 0 0 5px;
			font-family: "BentonSans-Medium", Arial, sans-serif;
		}
	}

	.notification-holder {
		padding: 7px 0 3px;
		border-bottom: 1px solid #dadada;

		h2 {
			font: 300 36px/40px "BentonSans-Light", Arial, sans-serif;
			margin: 0 0 8px;
		}

		.info {
			padding-bottom: 27px;
			border-bottom: 1px solid #dadada;

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.notification-block {
		border-bottom: 1px solid #dadada;
		padding: 24px 0 14px;

		.title-notification {
			font-family: "BentonSans-Medium", Arial, sans-serif;
		}

		.ticket {
			color: $blue;
			font-family: "BentonSans-Bold", Arial, sans-serif;
		}
	}
}