.page-template-template-reserve {
	.layout {
		.section {
			padding-left: 0;
		}

		// .container {
		// 	width: auto;
		// 	max-width: 1152px;
		// }

		.promo-section {
			background: $white;
			padding: 71px 0 36px 0px;

			@media #{$xs-max} {
				padding-top: 35px;
			}

			.text-holder {
				padding: 17px 0 0;

				span {
					display: block;
				}

				p {
					margin: 0 0 17px;
				}
			}

			.title-holder {

				@media #{$sm-max} {
					margin: 0 0 20px;
				}

				h1 {
					margin: 40px 0 0;
					color: $orange;
					font-size: 27px;
					line-height: 30px;

					time {
						color: $light-blue;
					}

					@media #{$sm-max} {
						margin: 15px 0 0;
					}
				}

				img {
					@media #{$sm-max} {
						margin: 0 auto;
					}
				}
			}

			.img-holder {
				right: 0;

				@media #{$sm-max} {
					position: static;
				}
			}

			@media #{$sm-max} {
				padding-left: 0;
				text-align: center;
			}
		}

		.contacts-section {
			padding-top: 55px;
			padding-bottom: 190px;

			@media #{$sm-max} {
				padding-bottom: 50px;
			}

			.form-holder {
				padding: 0;

				p {
					padding: 0;
					margin: 0 0 54px;
					font-size: 17px;
					line-height: 25px;

					@media #{$xs-max} {
						margin: 0 0 28px;
					}
				}
			}
		}
	}
}