.page-template-template-sv {
	.promo-section {
		.img-holder {
			max-width: 541px;
		}
	}

	.info-section {

		@media #{$md-max} {
			padding-right: 40px;
		}

		.holder {
			position: relative;
		}

		p {
			margin-bottom: 40px;
		}

		.img-holder {
			position: absolute;
			top: 0;
			right: 0;

			@media #{$sm-max} {
				position: static;
				padding-top: 20px;
				text-align: center;
			}

			img {
				@media #{$sm-max} {
					margin: 0 auto;
				}
			}

			.text-holder {
				padding: 50px 15px 0 19px;

				@media #{$sm-max} {
					padding-top: 25px;
				}
			}
		}

		.btn-holder {
			text-align: right;

			@media #{$sm-max} {
				text-align: center;
			}
		}
	}

	.interested-section {
		background: $grey-bg;

		.form-holder {
			p {
				margin-bottom: 20px;
			}
		}
	}
}