.page-template-template-thoughtleaders {

	.company-info-section {
		.block-company {
			margin: 0 0 95px;

			@media #{$xs-max} {
				margin: 0 0 40px;
				text-align: center;
			}

			&:last-child {
				margin: 0;
			}
		}

		.img-holder {
			float: left;
			margin: 0 55px 0 0;
			padding: 37px 0;

			@media #{$xs-max} {
				float: none;
				margin: 0;
			}
		}

		.description {
			overflow: hidden;
			padding: 30px 0 35px 55px;
			border-left: 1px solid #e7e7e7;

			@media #{$xs-max} {
				padding: 0;
				border: none;
			}

			h2 {
				font-size: 34px;
				line-height: 37px;
				margin: 0 0 32px;

				@media #{$xs-max} {
					margin-bottom: 17px;
				}
			}

			p {
				margin: 0 0 45px;

				@media #{$xs-max} {
					margin-bottom: 20px;
				}
			}

			.btn {
				min-width: 149px;
				font-size: 18px;
				padding: 5px 10px;
			}
		}
	}
}