@font-face {
  font-family: 'BentonSans';
  src: url(../fonts/benton-sans/BentonSans-Regular.eot);
  src: url(../fonts/benton-sans/BentonSans-Regular.woff2) format("woff2"), url(../fonts/benton-sans/BentonSans-Regular.woff) format("woff"), url(../fonts/benton-sans/BentonSans-Regular.ttf) format("truetype"), url(../fonts/benton-sans/BentonSans-Regular.svg#BentonSans-Regular) format("svg"), url(../fonts/benton-sans/BentonSans-Regular.eot?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans';
  src: url(../fonts/benton-sans/BentonSans-RegularItalic.eot);
  src: url(../fonts/benton-sans/BentonSans-RegularItalic.woff2) format("woff2"), url(../fonts/benton-sans/BentonSans-RegularItalic.woff) format("woff"), url(../fonts/benton-sans/BentonSans-RegularItalic.ttf) format("truetype"), url(../fonts/benton-sans/BentonSans-RegularItalic.svg#BentonSans-RegularItalic) format("svg"), url(../fonts/benton-sans/BentonSans-RegularItalic.eot?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'BentonSans';
  src: url(../fonts/benton-sans/BentonSans-Bold.eot);
  src: url(../fonts/benton-sans/BentonSans-Bold.woff2) format("woff2"), url(../fonts/benton-sans/BentonSans-Bold.woff) format("woff"), url(../fonts/benton-sans/BentonSans-Bold.ttf) format("truetype"), url(../fonts/benton-sans/BentonSans-Bold.svg#BentonSans-Bold) format("svg"), url(../fonts/benton-sans/BentonSans-Bold.eot?#iefix) format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans';
  src: url(../fonts/benton-sans/BentonSans-Light.eot);
  src: url(../fonts/benton-sans/BentonSans-Light.woff2) format("woff2"), url(../fonts/benton-sans/BentonSans-Light.woff) format("woff"), url(../fonts/benton-sans/BentonSans-Light.ttf) format("truetype"), url(../fonts/benton-sans/BentonSans-Light.svg#BentonSans-Light) format("svg"), url(../fonts/benton-sans/BentonSans-Light.eot?#iefix) format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans';
  src: url(../fonts/benton-sans/BentonSans-Medium.eot);
  src: url(../fonts/benton-sans/BentonSans-Medium.woff2) format("woff2"), url(../fonts/benton-sans/BentonSans-Medium.woff) format("woff"), url(../fonts/benton-sans/BentonSans-Medium.ttf) format("truetype"), url(../fonts/benton-sans/BentonSans-Medium.svg#BentonSans-Medium) format("svg"), url(../fonts/benton-sans/BentonSans-Medium.eot?#iefix) format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSansBook';
  src: url('../fonts/benton-sans/BentonSans-Book.ttf');
  font-weight: 400;
}
.btn.btn-primary {
  background-color: #0a9be0;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: #0879af;
}
.btn.btn-line {
  border: 1px solid #0a9be0;
  background-color: transparent;
  color: #0a9be0 !important;
}
.btn.btn-line:hover,
.btn.btn-line:focus,
.btn.btn-line:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.single .content {
  width: calc(100% - 308px);
  float: left;
}
@media (max-width: 767px) {
  .single .content-holder {
    background-color: white;
  }
  .single .content {
    width: 100%;
    float: none;
  }
  .single .sidebar {
    padding-bottom: 30px;
  }
}
.blog .content,
.archive .content {
  width: calc(100% - 308px);
  float: left;
}
.archive .sidebar {
  padding-top: 33px;
}
@media (max-width: 767px) {
  .blog .content,
  .archive .content {
    width: 100%;
    float: none;
  }
}
html,
body {
  height: 100%;
  background-color: #fff;
}
@media (max-width: 991px) {
  body.logged-in .menu-right.menu-open + .menu-toggle {
    top: 57px !important;
  }
  body.logged-in .menu-right {
    padding-top: 132px !important;
  }
}
.home-tabs {
  background-color: #2e2e2e;
}
.home-tabs ul {
  border: none !important;
}
.home-tabs ul li {
  width: 50%;
  margin-bottom: 0;
  position: relative;
}
.home-tabs ul li:before {
  z-index: 100;
  width: 30px;
  height: 30px;
  display: block;
  transform: rotate(45deg);
  position: absolute;
  bottom: -15px;
  left: calc(50% - 15px);
}
.home-tabs ul li:hover:nth-child(1):before,
.home-tabs ul li.active:nth-child(1):before {
  content: '';
  background-color: #0a9be0;
}
.home-tabs ul li:hover:nth-child(1) a,
.home-tabs ul li.active:nth-child(1) a {
  background-color: #0a9be0;
  color: #fff;
}
.home-tabs ul li:hover:nth-child(2):before,
.home-tabs ul li.active:nth-child(2):before {
  content: '';
  background-color: #f9bb00;
}
.home-tabs ul li:hover:nth-child(2) a,
.home-tabs ul li.active:nth-child(2) a {
  background-color: #f9bb00;
  color: #fff;
}
.home-tabs ul li a {
  border: none !important;
  border-radius: 0;
  margin-right: 0;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  background-color: #535151;
  color: #fff;
  position: relative;
  z-index: 101;
}
.home-tabs ul li a span {
  display: block;
  font-weight: 500;
  font-size: 12px;
}
.home-tabs ul li a br {
  display: none;
}
@media (max-width: 767px) {
  .home-tabs ul li a {
    font-size: 18px;
  }
  .home-tabs ul li a span {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .home-tabs ul li a {
    font-size: 14px;
  }
  .home-tabs ul li a span {
    font-size: 9px;
  }
}
@media (max-width: 500px) {
  .home-tabs ul li a {
    font-size: 12px;
  }
  .home-tabs ul li a br {
    display: block;
  }
}
@media (max-width: 767px) {
  .home-tabs .container {
    padding: 0;
  }
}
.header {
  padding-top: 20px !important;
}
.header .menu-bar .menu-left {
  float: left;
  margin-bottom: 8px;
}
.header .menu-bar .menu-left .logo {
  width: 169px;
}
.header .menu-bar .menu-right {
  float: right;
  font-size: 0;
}
.header .menu-bar .menu-toggle {
  display: none;
  width: 31px;
}
.header .menu-bar .menu-toggle span {
  width: 14px;
  height: 5px;
  border-radius: 5px;
  background-color: #231f20;
  display: block;
  margin: auto auto 5px;
}
.header .menu-bar .menu-toggle span:nth-child(2) {
  width: 27px;
}
.header .menu-bar .menu-toggle:focus span,
.header .menu-bar .menu-toggle:active span {
  background-color: #0a9be0;
}
.header .menu-bar .btn-default {
  background-color: #0a9be0;
  border-radius: 6px;
  margin: 0 !important;
  padding-right: 10px !important;
}
.header .menu-bar .btn-default i {
  font-size: 16px;
  margin-left: 15px;
}
.header .menu-bar .header-drop {
  width: 173px !important;
  margin-right: 10px;
  margin-top: 8px;
  left: 0 !important;
  vertical-align: top;
}
.header .menu-bar .header-drop.open .dropdown-toggle {
  background-color: #323232;
}
.header .menu-bar .header-drop.open .dropdown-toggle span {
  color: #fff;
}
.header .menu-bar .header-drop .btn-default {
  border-color: #b3b3b3;
  margin: 0 !important;
}
.header .menu-bar .header-drop .btn-default:hover,
.header .menu-bar .header-drop .btn-default:active,
.header .menu-bar .header-drop .btn-default:focus {
  background-color: #323232;
}
.header .menu-bar .header-drop .btn-default .caret {
  right: 20px;
  top: 14px;
  border-width: 6px !important;
}
.header .menu-bar .header-drop div.dropdown-menu {
  border-radius: 0;
  margin-left: -10px;
  width: calc(100% + 20px);
  padding: 9px 10px;
  background-color: #121212;
  z-index: 1111;
}
.header .menu-bar .header-drop div.dropdown-menu ul {
  background-color: transparent;
}
.header .menu-bar .header-drop div.dropdown-menu li a {
  background-color: transparent;
  color: #fff;
  padding: 6px 20px;
  outline: none;
}
.header .menu-bar .header-drop div.dropdown-menu li.selected a {
  background-image: url(../images/icon-check.png);
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
}
.header .menu-bar .header-drop div.dropdown-menu li:hover a {
  background-color: #323232;
}
.header .menu-bar .top-menu {
  float: none;
  display: inline-block;
}
.header .menu-bar .top-menu .menu-item {
  margin: 0 17px 0 18px;
  cursor: pointer;
}
.header .menu-bar .top-menu .menu-item a {
  font-family: "BentonSans", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  color: #7b7b7b;
  height: 55px;
}
@media (max-width: 1199px) {
  .header .menu-bar .top-menu .menu-item {
    padding-left: 37px;
    background-repeat: no-repeat;
    background-position: 0px 12px;
  }
  .header .menu-bar .top-menu .menu-item.menu-item-home {
    background-image: url(../images/icon-menu-home.png);
    background-position: 0px 14px;
  }
  .header .menu-bar .top-menu .menu-item.menu-item-blog {
    background-image: url(../images/icon-menu-blog.png);
    background-position: 6px 12px;
  }
  .header .menu-bar .top-menu .menu-item.menu-item-contact {
    background-image: url(../images/icon-menu-contact.png);
    background-position: 0px 16px;
  }
}
@media (max-width: 991px) {
  .header {
    position: relative;
  }
  .header .menu-bar .menu-left {
    position: relative;
    z-index: 1103;
  }
  .header .menu-bar .menu-toggle {
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 1102;
    display: block;
  }
  .header .menu-bar .menu-right {
    padding: 100px 25px 25px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1100;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: transform ease 0.5s;
  }
  .header .menu-bar .menu-right.menu-open {
    transform: translateX(0%);
  }
  .header .menu-bar .menu-right.menu-open + .menu-toggle {
    position: fixed;
  }
  .header .menu-bar .menu-right.menu-open + .menu-toggle span {
    background-color: #0a9be0;
  }
  .header .menu-bar .menu-right .top-menu {
    display: block;
  }
  .header .menu-bar .menu-right .top-menu li {
    display: block;
    padding-left: 45px;
  }
  .header .menu-bar .menu-right .top-menu li.current_page_item a {
    border-bottom: none;
  }
  .header .menu-bar .menu-right .top-menu li a {
    font-size: 20px;
  }
  .header .menu-bar .menu-right .header-drop {
    display: block;
    width: 100% !important;
    margin-top: 35px;
  }
  .header .menu-bar .menu-right .header-drop .dropdown-menu {
    font-size: 20px;
  }
  .header .menu-bar .menu-right .header-drop .caret {
    top: 48%;
    right: 15px;
  }
  .header .menu-bar .menu-right .btn-default {
    font-size: 20px;
    padding: 14px 15px 13px !important;
    margin-top: 35px;
  }
}
.custom-modal {
  font-family: "BentonSans", sans-serif;
  z-index: 1111;
}
.custom-modal#alrightModal .modal-dialog .modal-body {
  background-image: url(../images/form-alright.png);
}
.custom-modal .modal-dialog {
  width: 750px;
}
.custom-modal .modal-dialog .modal-content {
  border-radius: 15px;
}
.custom-modal .modal-dialog .modal-body {
  padding: 40px;
  background-image: url(../images/form-envelop.png);
  background-position: calc(100% - 55px) 45px;
  background-repeat: no-repeat;
  position: relative;
}
.custom-modal .modal-dialog .modal-body.thank-body {
  display: none;
  background-image: url(../images/form-heart.png) !important;
}
.custom-modal .modal-dialog .modal-body.thank-body button {
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block;
}
.custom-modal .modal-dialog .modal-body .btn-modal-close {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 15px;
  top: 15px;
  cursor:pointer;
}
.custom-modal .modal-dialog .modal-body .btn-modal-close:before,
.custom-modal .modal-dialog .modal-body .btn-modal-close:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 6px;
  width: 2px;
  height: 18px;
  transform: rotate(45deg);
  background-color: #444;
}
.custom-modal .modal-dialog .modal-body .btn-modal-close:after {
  transform: rotate(-45deg);
}
.custom-modal p.title {
  font-family: "BentonSans", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.5;
  color: #231f20;
  margin-top: 0;
}
.custom-modal p.description {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #231f20;
  max-width: 500px;
  letter-spacing: -0.6px;
  margin-bottom: 40px;
}
.custom-modal .wpcf7-form-control-wrap {
  margin-bottom: 40px;
  display: block;
}
.custom-modal .form-control {
  margin-bottom: 0;
  height: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #231f20;
  padding: 13px 30px 14px;
  box-shadow: inset 2px 2px 16px 2px rgba(0, 0, 0, 0.05);
}
.custom-modal textarea {
  height: 190px !important;
}
.custom-modal .bootstrap-select {
  margin: 0 !important;
}
.custom-modal .bootstrap-select.form-control {
  padding: 0;
}
.custom-modal .bootstrap-select .dropdown-toggle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #231f20;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px 30px 16px !important;
  margin: 0 !important;
}
.custom-modal .bootstrap-select .dropdown-toggle:hover {
  background-color: #e5e5e5;
}
.custom-modal .bootstrap-select .dropdown-toggle:focus {
  background-color: #fff;
}
.custom-modal .bootstrap-select .dropdown-toggle .caret {
  right: 20px !important;
  top: 23px !important;
  border-width: 7px;
}
.custom-modal .row .col-sm-6:nth-child(1) {
  padding-right: 27.5px;
}
.custom-modal .row .col-sm-6:nth-child(2) {
  padding-left: 27.5px;
}
.custom-modal .btn-custom {
  width: 110px;
  padding: 0 !important;
}
@media (max-width: 767px) {
  .custom-modal .modal-dialog {
    width: auto;
  }
  .custom-modal .modal-dialog .modal-body {
    padding: 20px;
    background-size: 50px;
    background-position: calc(100% - 30px) 20px;
  }
  .custom-modal h2.title {
    font-size: 36px;
  }
  .custom-modal p.description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .custom-modal .form-control {
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .custom-modal .row .col-sm-6:nth-child(1) {
    padding-right: 15px;
  }
  .custom-modal .row .col-sm-6:nth-child(2) {
    padding-left: 15px;
  }
  .custom-modal .bootstrap-select {
    margin-bottom: 20px !important;
  }
  .custom-modal .bootstrap-select .dropdown-toggle {
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.btn-custom {
  font-family: "BentonSans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  color: #fff !important;
  width: 262px;
  height: 50px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 50px;
  transition: all ease 0.5s;
  border-radius: 5px !important;
}
.btn-custom.btn-sm {
  width: 190px;
  border-radius: 5px;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  outline: none;
  color: #fff;
}
.btn-custom.btn-blue {
  background-color: #0a9be0;
}
.btn-custom.btn-blue.with-border {
  border: 1px solid #06628e;
}
.btn-custom.btn-blue:hover {
  background-color: #0879af;
}
.btn-custom.btn-yellow {
  background-color: #f9bb00;
}
.btn-custom.btn-yellow:hover {
  background-color: #c69500;
}
.btn-custom.btn-gray {
  background-color: #848484;
}
.btn-custom.btn-gray:hover {
  background-color: #6b6b6b;
}
.banner {
  font-family: "BentonSans", sans-serif;
  background-image: url(../images/bg-top.jpg);
  background-position: center -20px;
  background-size: cover;
  padding: 260px 0 80px;
  position: relative;
}
.banner .banner-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.banner .banner-sub {
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}
.banner .banner-subinfo {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.banner .banner-desc {
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-style: italic;
  margin-bottom: 80px;
}
@media (max-width: 1300px) {
  .banner {
    padding: 180px 0 80px;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .banner {
    padding: 150px 0 60px;
  }
  .banner .banner-title {
    font-size: 60px;
  }
  .banner .banner-sub {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .banner .banner-subinfo {
    font-size: 40px;
  }
  .banner .banner-desc {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .banner {
    padding: 80px 0 50px;
  }
  .banner .banner-title {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .banner .banner-sub {
    font-size: 45px;
    margin: 10px 0 20px;
  }
  .banner .banner-subinfo {
    font-size: 30px;
  }
  .banner .banner-desc {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 80px 0;
  }
  .banner .banner-title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .banner .banner-sub {
    font-size: 30px;
    margin: 10px 0 20px;
  }
  .banner .banner-subinfo {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .banner .banner-desc {
    margin-bottom: 40px;
    font-size: 18px;
  }
}
.promo-section {
  background-position: center;

}
.onesheet-holder .img-holder {
  position: relative !important;
  margin: auto auto 40px !important;
  max-width: 800px;
}
.onesheet-holder .img-holder img {
  position: relative;
  z-index: 2;
}
.onesheet-holder .img-holder:before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 8px;
  width: 0;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  -webkit-box-shadow: 0 0 7px 10px rgba(0,0,0,.3);
  box-shadow: 0 0 7px 10px rgba(0,0,0,0.3);
  z-index: 0;
}
.onesheet-holder .img-holder:after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 8px;
  width: 0;
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  -webkit-box-shadow: 0 0 7px 10px rgba(0,0,0,.3);
  box-shadow: 0 0 7px 10px rgba(0,0,0,0.3);
  z-index: 0;
}
.promo-section.promo-reserve .reserve-form {
  max-width: 390px;
  margin-top: 40px;
}
.promo-section.promo-reserve .reserve-form input:not(.btn) {
  border: 1px solid #ccc;
}
@media (min-width: 1200px) {
  .promo-section .img-holder {
    margin-left: -20px;
  }
}
@media (max-width: 1239px) {
  .promo-section h1 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .promo-section.promo-reserve .reserve-form {
    max-width: 390px;
    margin: 40px auto;
  }
}
.next-info {
  position: absolute;
  bottom: 0;
  right: 0;
}
.next-info.info-home .img-holder {
  width: 225px;
}
.next-info.info-home .info-content {
  width: 225px;
}
.next-info.info-home .info-content h4 {
  font-size: 24.5px;
}
.next-info.info-home .info-content a {
  font-family: "BentonSans", sans-serif;
}
@media (min-width: 1400px) {
  .next-info.info-home {
    bottom: 50%;
    transform: translateY(50%);
  }
}
@media (max-width: 1399px) and (min-width: 768px) {
  .next-info.info-home .img-holder {
    float: left;
  }
  .next-info.info-home .info-content {
    float: right;
  }
}
@media (max-width: 767px) {
  .next-info.info-home .info-content {
    width: auto;
  }
}
@media (max-width: 470px) {
  .next-info.info-home .img-holder {
    width: 160px;
    height: 100px;
  }
  .next-info.info-home .info-content {
    height: 100px;
    padding: 0 10px;
  }
  .next-info.info-home .info-content h4 {
    font-size: 17px;
  }
  .next-info.info-home .info-content span {
    display: block;
    font-size: 14px;
  }
}
.next-info .img-holder {
  position: relative;
  top: 0;
  width: 182px;
  height: 140px;
}
.next-info .img-holder img {
  width: 100%;
  height: 100%;
}
.next-info .info-content {
  background-color: #121212;
  padding: 15px 15px 20px;
  width: 182px;
  height: 140px;
}
.next-info .info-content h4 {
  font-weight: 600;
  font-size: 25.5px;
  line-height: 1;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 5px;
}
.next-info .info-content span {
  display: inline-block;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  margin-bottom: 10px;
}
.next-info .info-content a {
  display: inline-block;
  font-weight: bold;
  font-size: 14.5px;
  line-height: 1;
  color: #0a9be0;
}
.next-info .info-content a i {
  margin-left: 5px;
  vertical-align: middle;
}
@media (max-width: 1199px) {
  .next-info .img-holder {
    float: left;
  }
  .next-info .info-content {
    float: right;
  }
}
@media (max-width: 767px) {
  .next-info {
    top: 100%;
    display: table;
    width: 100%;
  }
  .next-info .img-holder {
    float: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  .next-info .info-content {
    width: auto;
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}
.feature-bar {
  font-family: "BentonSans", sans-serif;
  padding: 95px 0;
}
.feature-bar .feature-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  color: #3d3d3d;
  margin-bottom: 20px;
}
.feature-bar .feature-desc {
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #3d3d3d;
  margin-bottom: 95px;
}
.feature-bar .feature {
  position: relative;
  padding-left: 90px;
  padding-top: 15px;
}
.feature-bar .feature .img-holder {
  width: 76px;
  position: absolute;
  top: 0;
  left: 0;
}
.feature-bar .feature p.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: #3d3d3d;
  margin-bottom: 20px;
}
.feature-bar .feature span {
  font-family: "BentonSansBook", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #231f20;
}
@media (max-width: 991px) {
  .feature-bar {
    padding: 80px 0;
  }
  .feature-bar .feature-title {
    font-size: 42px;
  }
  .feature-bar .feature-desc {
    font-size: 24px;
    margin-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .feature-bar {
    padding: 60px 0;
  }
  .feature-bar .feature-title {
    font-size: 36px;
  }
  .feature-bar .feature-desc {
    font-size: 20px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .feature-bar .feature {
    padding-left: 70px;
    padding-top: 10px;
  }
  .feature-bar .feature .img-holder {
    width: 60px;
  }
  .feature-bar .feature .img-holder img {
    width: 100%;
  }
}
.p-features {
  font-family: "BentonSans", sans-serif;
  background-color: #f4f4f4;
  padding: 100px 0;
}
.p-features .p-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: #3d3d3d;
  margin-bottom: 55px;
  letter-spacing: -0.6px;
}
.p-features ul.p-feature {
  list-style: none;
  margin: 25px 0;
  border-radius: 10px;
  padding-left: 0;
  overflow: hidden;
}
.p-features ul.p-feature li span {
  background-image: url(../images/icon-check.png);
  background-repeat: no-repeat;
  background-position: 13px 12px;
  padding: 10px 0 10px 40px;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #3d3d3d;
}
.p-features ul.p-feature li:nth-child(odd) {
  background: linear-gradient(90deg, #ececec, #f4f4f4);
}
.p-features .p-hint {
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: #3d3d3d;
  margin-bottom: 45px;
}
.p-features .ipad-holder {
  position: relative;
  margin-bottom: 100px;
}
.p-features .ipad-holder:before {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  left: -5px;
  bottom: 0px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.p-features .ipad-holder img {
  position: relative;
  z-index: 1000;
  width: 100%;
}
.p-features .ipad-holder .ipad-inside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 7.7% 9.757% 7.93% 8.644%;
}
.p-features .ipad-holder .ipad-inside .bx-wrapper {
  width: 100%;
  height: 100%;
}
.p-features .ipad-holder .ipad-inside .bx-wrapper .bx-viewport {
  left: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  overflow: visible !important;
}
.p-features .ipad-holder .ipad-inside .bx-wrapper .bxslider li {
  width: 100% !important;
}
.p-features .ipad-holder .ipad-inside .bx-wrapper .bxslider span {
  display: block;
  margin-top: 17%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: #3d3d3d;
}
.p-features .ipad-holder .ipad-inside .bx-wrapper .bxslider span strong {
  color: #f9bb00;
}
.p-features .ipad-holder .ipad-inside .bx-wrapper .bx-controls-direction {
  display: none;
}
.p-features .ipad-holder .ipad-inside .bx-wrapper .bx-pager {
  margin-bottom: -22%;
}
.p-features .ipad-holder .ipad-inside .bx-wrapper .bx-pager .bx-pager-item a {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 2px 0 3px;
  background-color: #dfdfdf;
}
.p-features .ipad-holder .ipad-inside .bx-wrapper .bx-pager .bx-pager-item a.active {
  background-color: #f9bb00;
}
@media (max-width: 991px) {
  .p-features {
    padding: 80px 0;
  }
  .p-features .ipad-holder {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .p-features {
    padding: 60px 0;
  }
  .p-features .p-title {
    font-size: 30px;
  }
  .p-features .p-hint {
    font-size: 18px;
  }
  .p-features .btn-custom {
    margin: auto;
    display: block;
  }
}
.service-bar {
  font-family: "BentonSans", sans-serif;
  background-image: url(../images/bg-bottom.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}
.service-bar .shadow-box {
  padding: 170px 0;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
}
.service-bar h4 {
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: #fff;
  margin-bottom: 70px;
}
.service-bar .service {
  border: 1px solid #f9bb00;
  border-radius: 10px;
  overflow: hidden;
}
.service-bar .service.service-blue {
  border: 1px solid #0a9be0;
}
.service-bar .service.service-blue p.service-subtitle {
  background-color: #0a9be0;
}
.service-bar .service.service-blue p {
  background-color: #3bafe6;
}
.service-bar .service.service-blue .content .service-cap {
  color: #0a9be0;
}
.service-bar .service.service-gray {
  border: 1px solid #656565;
}
.service-bar .service.service-gray p.service-subtitle {
  background-color: #656565;
}
.service-bar .service.service-gray p {
  background-color: #848484;
}
.service-bar .service.service-gray .content .service-cap {
  color: #bebebe;
}
.service-bar .service p.service-subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #fff;
  padding: 15px;
  background-color: #f9bb00;
  margin-bottom: 0;
  margin-top: 0;
}
.service-bar .service p {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  padding: 10px 0;
  background-color: #fac933;
  margin-bottom: 0;
}
.service-bar .service .content {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 35px 15px;
}
.service-bar .service .content .service-label {
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  font-size: 24px !important;
}
.service-bar .service .content .service-cap {
  font-weight: normal;
  font-size: 72px;
  line-height: 1;
  color: #f9bb00;
}
.service-bar .service .content span:not(.service-cap) {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .service-bar .service .content span:not(.service-cap) {
    height: 32px;
  }
}
@media (max-width: 991px) {
  .service-bar .shadow-box {
    padding: 120px 0;
  }
  .service-bar .service {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .service-bar .shadow-box {
    padding: 80px 0;
  }
  .service-bar .service p.service-subtitle {
    font-size: 24px;
    padding: 10px 0;
  }
  .service-bar .service p {
    padding: 5px 0;
  }
  .service-bar .service .content {
    padding: 25px 15px;
  }
  .service-bar .service .content .service-label {
    font-size: 18px;
  }
  .service-bar .service .content .service-cap {
    font-size: 50px;
  }
  .service-bar .service .content span:not(.service-cap) {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.contact-bar {
  font-family: "BentonSans", sans-serif;
  padding: 100px 0;
  background: linear-gradient(#e9e9e9, #fff);
}
.contact-bar .two-col {
  display: table;
  margin-left: -15px;
  margin-right: -15px;
}
.contact-bar .two-col .col-content {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}
.contact-bar .two-col .col-content h4 {
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: #3d3d3d;
  margin-bottom: 30px;
}
.contact-bar .two-col .col-content p {
  font-family: "BentonSans Book", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  color: #3d3d3d;
}
.contact-bar .two-col .col-content p strong {
  font-family: "BentonSans", sans-serif;
  font-weight: 600;
}
.contact-bar .two-col .col-content .contact-form {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}
.contact-bar .two-col .col-content .contact-form p {
  margin-bottom: 0;
}
.contact-bar .two-col .col-content .contact-form .form-control {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #3d3d3d;
  padding: 30px 25px 30px 70px;
  background-position: 24px center;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
}
.contact-bar .two-col .col-content .contact-form .form-control.input-name {
  background-image: url(../images/icon-man.png);
}
.contact-bar .two-col .col-content .contact-form .form-control.input-email {
  background-image: url(../images/icon-mail.png);
}
.contact-bar .two-col .col-content .contact-form .form-control.input-tel {
  background-image: url(../images/icon-phone.png);
}
.contact-bar .two-col .col-content .contact-form .form-control.input-org {
  background-image: url(../images/icon-build.png);
}
.contact-bar .two-col .col-content .contact-form .btn-custom {
  margin: 15px 0;
}
.contact-bar .two-col .col-content .contact-form span.btn-blue {
  width: 300px;
  font-size: 16px;
  display: none;
  background-color: #59c05c;
}
@media (max-width: 991px) {
  .contact-bar {
    padding: 80px 0;
  }
  .contact-bar .two-col {
    display: block;
  }
  .contact-bar .two-col .col-content {
    display: block;
    width: 100%;
  }
  .contact-bar .two-col .contact-form {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .contact-bar {
    padding: 60px 0;
  }
}
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  /** THEME
	===================================*/
  /* LOADER */
  /* PAGER */
  /* DIRECTION CONTROLS (NEXT / PREV) */
  /* AUTO CONTROLS (START / STOP) */
  /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
  /* IMAGE CAPTIONS */
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  left: -5px;
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../images/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url(../images/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}
.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
.footer .logo-holder img:first-child {
  margin-right: 33px;
}
.footer .logo-holder .th-logo {
  margin-left: 33px;
}
.footer .logo-holder .th-logo img {
  margin-right: 0 !important;
}
.footer .logo-holder .ariba-logo {
  margin-left: 33px;
  display: inline-block;
  vertical-align: top;
}
.footer .logo-holder .ariba-logo img {
  margin-right: 0 !important;
}
.footer .social-content {
  float: right;
}
.footer .social-content .like-button {
  float: left;
}
.footer .social-content .like-button:nth-child(1) {
  margin-right: 15px;
}
.footer .social-content .like-button:nth-child(2) {
  margin-right: 7px;
}
@media (max-width: 991px) {
  .footer .logo-holder {
    margin-bottom: 20px;
  }
  .footer .logo-box {
    text-align: center;
    margin-top: 10px;
  }
  .footer .social-content {
    float: none;
    display: inline-block;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .footer .logo-box {
    margin-top: 10px;
  }
  .footer .logo-holder img:first-child {
    margin-right: 15px;
  }
  .footer .logo-holder .th-logo,
  .footer .logo-holder .ariba-logo {
    margin-left: 15px;
  }
}
@media (max-width: 413px) {
  .footer .logo-holder .th-logo {
    display: inline-block;
    margin-top: 20px;
  }
  .footer .logo-holder .ariba-logo {
    margin-top: 20px;
  }
  .footer .social-content .like-button {
    float: none;
  }
}
.about-section .content {
  padding-right: 50px;
}
.about-why {
  margin-top: 54px;
  border-top: 1px solid #d5d9db;
}
.about-why h3 {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: bold;
}
.about-why .why-inner {
  position: relative;
}
.about-why .why-inner:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: #d5d9db;
}
.about-why .why-inner .about-why-item {
  padding-bottom: 15px;
}
.about-why .why-inner .about-why-item:first-child {
  padding-right: 45px;
}
.about-why .why-inner .about-why-item:last-child {
  padding-left: 50px;
}
.about-why .why-inner .about-why-item p {
  font-size: 16px;
  color: #808080;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .about-why .why-inner:before {
    display: none;
  }
  .about-why .why-inner .about-why-item {
    padding-bottom: 35px;
  }
  .about-why .why-inner .about-why-item:first-child {
    padding-right: 15px;
  }
  .about-why .why-inner .about-why-item:last-child {
    padding-left: 15px;
  }
  .about-why .why-inner .about-why-item p {
    margin-bottom: 10px;
  }
}
.notification-header-section {
  padding-top: 50px;
  padding-bottom: 45px;
}
.notification-header-section .icon-holder {
  margin-bottom: 25px;
}
.notification-header-section h1 {
  font-size: 46px;
  line-height: 1.1;
}
.notification-header-section .info {
  font-size: 14px;
  color: #fff;
  margin-bottom: 40px;
}
.notification-header-section .info a {
  color: #fff;
  font-family: "BentonSans-Medium", sans-serif;
}
.notification-header-section p {
  font-size: 14px;
  max-width: 630px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .notification-header-section h1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .page-template-template-notification .section,
  .page-template-template-service .section {
    padding-left: 10px;
  }
}
.page-template-template-service .notification-service-holder {
  border-color: #0a9be0;
}
.page-template-template-service .notification-service-holder h3 {
  background: #0a9be0;
}
.sidebar .categories-list li a {
  padding: 17px 22px 17px 64px;
  position: relative;
  height: auto !important;
  line-height: 1 !important;
}
.sidebar .categories-list li a .icon-holder {
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
.section-download {
  font-family: "BentonSans", sans-serif;
  background: transparent url(../images/bg-back.jpg) center center no-repeat;
  background-size: cover;
  padding: 150px 15px;
  min-height: calc(100% - 298px);
}
.section-download .content {
  background-color: #fff;
  box-shadow: -10px 12px 55px 4px #231f20;
  max-width: 538px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}
.section-download .content-title {
  max-width: 310px;
  margin: auto;
}
.section-download .title {
  font-weight: 300;
  font-size: 37px;
  line-height: 1;
  color: #3d3d3d;
  margin: 0 0 20px;
}
.section-download h4.title {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 0;
}
.section-download .subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d50;
  max-width: 310px;
  margin: 0 auto 25px;
}
.section-download .login-form {
  padding: 0 90px;
}
.section-download .login-form.form-error .form {
  border-color: #e10000;
}
.section-download .login-form.form-error .error-notification {
  display: block;
}
.section-download .form {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: 10px;
}
.section-download .form input.form-control {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d50;
  height: 40px;
  padding: 13px 15px;
  margin-bottom: 14px;
}
.section-download .btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  padding: 11px 20px;
  width: 100%;
  border-radius: 4px;
}
.section-download .error-notification {
  background-color: #e10000;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  padding: 12px 15px;
  margin-bottom: 20px;
  position: relative;
  display: none;
}
.section-download .error-notification b {
  font-weight: 600;
}
.section-download .error-notification:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: calc(50% - 8px);
  bottom: -7px;
  background: #e10000;
  transform: rotate(45deg);
}
.section-download .request-block {
  padding: 25px 103px 0;
  border-top: 1px solid #ccc;
}
.section-download .request-block p {
  margin: 0 auto 20px;
}
.section-download .request-block .btn {
  font-weight: 400;
}
.section-download .request-form {
  padding: 30px 90px 0;
  border-top: 1px solid #ccc;
  position: relative;
  display: none;
}
.section-download .request-form .close {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 15px;
  top: 15px;
}
.section-download .request-form .close:before,
.section-download .request-form .close:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 6px;
  width: 2px;
  height: 18px;
  transform: rotate(45deg);
  background-color: #444;
}
.section-download .request-form .close:after {
  transform: rotate(-45deg);
}
.section-download .thankyou-form {
  padding: 0 103px;
  display: none;
}
.section-download .thankyou-form img {
  margin-bottom: 25px;
}
.section-download .thankyou-form .subtitle {
  font-size: 16px;
  margin-bottom: 45px;
  max-width: 100%;
}
.section-download .thankyou-form .btn {
  margin-bottom: 25px;
}
.section-download .thankyou-form .notification {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #a2a2a2;
  max-width: 160px;
  margin: auto;
}
.section-download .form-group .error-info {
  display: none;
}
.section-download .has-error {
  margin-bottom: 0;
}
.section-download .has-error input.form-control {
  border-color: #e10000;
  margin-bottom: 0;
  color: #d81b1b;
}
.section-download .has-error input.form-control::-webkit-input-placeholder {
  color: #da0909;
}
.section-download .has-error input.form-control:-moz-placeholder {
  color: #da0909;
}
.section-download .has-error input.form-control::-moz-placeholder {
  color: #da0909;
}
.section-download .has-error input.form-control:-ms-input-placeholder {
  color: #da0909;
}
.section-download .has-error .error-info {
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  color: #d81b1b;
  background-image: url(../images/icon-error.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  display: inline-block;
  margin: 3px auto;
}

.single .text-holder figure {
  max-width: 100%;
}

.single .text-holder figure img {
  max-width: 100%;
  height: auto;
}

.section-general {
  height: 500px;
}

.content-general {
  min-height: 600px;
  margin-top: -350px;
  position: relative;
  background: white;
  padding: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.hero-home-slider.promo-section {
  padding-bottom: 0;
}

.hero-home-slider.promo-section p {
  color: white;
}

@media (min-width: 1200px) {
  .hero-home-slider.promo-section h1 {
    font-size: 48px;
  }
}

.hero-home-slider .bx-wrapper {
  margin-bottom: 0;
}

.hero-home-slider .bx-wrapper .bx-viewport {
  background: transparent;
  box-shadow: none;
  border: none;
}

.hero-home-slider .bx-wrapper .bx-controls-direction {
  display: none;
}

.hero-home-slider .bx-wrapper .bx-pager {
  z-index: 1;
  width: 50%;
  text-align: left;
  padding-left: 5px;
  margin-top: -30px;
  bottom: 50px;
}

.hero-home-slider .bx-wrapper .bx-pager .bx-pager-item a {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.hero-home-slider .bx-wrapper .bx-pager .bx-pager-item a.active {
  background-color: rgba(255, 255, 255, 0.8);
}

.hero-home-slider .home-slider-text {
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .hero-home-slider .home-slider-text {
    padding-bottom: 0px;
  }

  .hero-home-slider .bxslider li {
    padding-bottom: 50px;
  }

  .hero-home-slider .bx-wrapper .bx-pager {
    width: 100%;
    text-align: center;
    bottom: 20px;
  }
}
.p404-header {
  font-family: "BentonSans", sans-serif;
  text-align: center;
  background: transparent url(../images/section-bg2.jpg) center center no-repeat;
  background-size: cover;
  padding: 90px 15px;
}
.p404-header h2 {
  font-size: 96px;
  font-weight: 600;
  color: #0a9be0;
  margin: 0;
}
.p404-header h4 {
  font-size: 49px;
  font-weight: 600;
  color: white;
  margin: 0 0 50px;
}
.p404-header p {
  font-size: 16px;
  color: white;
}
.p404-body {
  padding: 90px 0 50px;
  font-family: "BentonSans", sans-serif;
  text-align: center;
}
.p404-body p {
  font-size: 24px;
  color: #0a9be0;
  font-weight: 600;
  margin-bottom: 60px;
}
.p404-body .p404-item {
  padding: 0 40px;
  max-width: 450px;
  margin: auto;
}
.p404-body .p404-item .img-holder {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.p404-body .p404-item .img-holder img {
  width: 100%;
}
.p404-body .p404-item p {
  font-size: 18px;
  margin-bottom: 40px;
}
.adv-section {
  padding: 120px 0;
}
.adv-section .adv-items {
  display: flex;
}
.adv-section .adv-items .adv-item {
  width: 50%;
}
.adv-section .adv-items .adv-item:first-child {
  padding-right: 35px;
}
.adv-section .adv-items .adv-item:last-child {
  padding-left: 35px;
}
.adv-section .adv-items .ent-item {
  background: transparent url(../images/adv-market-back.png) center center no-repeat;
  background-size: cover;
  font-size: 0;
  padding: 40px 35px;
  height: 100%;
}
.adv-section .adv-items .ent-item .item-left {
  width: 55%;
  display: inline-block;
  vertical-align: top;
}
.adv-section .adv-items .ent-item .item-left p {
  font-size: 30px;
  color: white;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 20px;
}
.adv-section .adv-items .ent-item .item-right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.adv-section .adv-items .ent-item .item-right .ipad-holder {
  margin-top: -85px;
}
.adv-section .adv-items .ent-item .item-right .ipad-holder img {
  width: 100%;
}
.adv-section .adv-items .ent-item .link-holder {
  text-align: center;
  margin-top: 30px;
}
.adv-section .adv-items .ent-item .link-holder .market-link {
  padding: 16px 15px 16px 40px;
  font-size: 17px;
  color: white;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  line-height: 1;
}
.adv-section .adv-items .ent-item .link-holder .market-link i {
  margin-left: 25px;
}
.adv-section .adv-items .gig-item {
  height: 100%;
  background: transparent url(../images/adv-gig-back.png) center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px 30px;
}
.adv-section .adv-items .gig-item .img-holder img {
  max-width: 100%;
}
.adv-section .adv-items .gig-item p {
  font-size: 26px;
  font-weight: 300;
  color: white;
  margin: 50px 0;
}
.adv-section .adv-items .gig-item .link-holder {
  text-align: center;
}
.adv-section .adv-items .gig-item .link-holder .gig-link {
  font-size: 17px;
  color: white;
  display: inline-block;
  background-color: #22a4df;
  border: 1px solid white;
  border-radius: 4px;
  padding: 16px 15px 16px 30px;
}
.adv-section .adv-items .gig-item .link-holder .gig-link i {
  margin-left: 15px;
}
@media (max-width: 991px) {
  .adv-section .adv-items {
    display: block;
  }
  .adv-section .adv-items .adv-item {
    width: 100%;
    max-width: 550px;
    padding: 30px !important;
    margin: auto;
  }
}
@media (max-width: 599px) {
  .adv-section .adv-items .adv-item {
    padding: 0 !important;
  }
  .adv-section .adv-items .ent-item {
    padding: 30px 15px;
    text-align: center;
    margin-bottom: 50px;
  }
  .adv-section .adv-items .ent-item .link-holder .market-link {
    padding: 15px;
  }
  .adv-section .adv-items .ent-item .item-left {
    width: 100%;
  }
  .adv-section .adv-items .ent-item .item-right {
    display: none;
  }
  .adv-section .adv-items .gig-item {
    padding: 30px 15px;
  }
  .adv-section .adv-items .gig-item p {
    margin: 30px 0;
  }
}
