.breadcrumbs {
	padding: 0;
	margin: 0 0 17px;
	text-transform: uppercase;

	li {
		list-style: none;
		display: inline-block;
		vertical-align: top;
		color: $blue-text;
		font-size: 14px;

		a {
			color: $blue-text;
		}

		&.sep {
			color: #000;
		}
	}
}