.btn {
	border-radius: 0;

	&:focus,
	&:focus:hover {
		outline: none;
	}
	
	&.btn-default {
		background: none;
		color: $white;
		border: 1px solid $blue;
		border-radius: 0;
		padding: 8px 10px;

		&:hover,
		&:focus {
			background: $blue;
		}
	}

	&.btn-primary {
		background: $blue;
		color: $white;
		border: none;
		padding: 8px 21px;

		&:hover,
		&:focus {
			background: $black-light;
		}
	}

	&.btn-success {
		background: $green;
		border: none;

		&:hover,
		&:focus {
			border: none;
			background: darken($green, 5%);
		} 
	}

	&.btn-back {
		text-align: left;
		font-size: 13px;
		padding: 11px 17px 6px;
		min-width: 167px;
		font-weight: normal;

		.fa {
			float: right;
			font-size: 20px;
			margin: -3px 0 0;
		}
	}

	&.btn-update {
		display: block;
		padding: 15px 5px;
		color: $white;
		background: rgb(185,186,217); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(185,186,217,1) 0%, rgba(191,194,225,1) 34%, rgba(196,200,229,1) 46%, rgba(197,202,231,1) 56%, rgba(199,204,233,1) 57%, rgba(199,205,231,1) 61%, rgba(203,209,235,1) 75%, rgba(205,211,237,1) 77%, rgba(205,211,235,1) 84%, rgba(205,212,238,1) 84%, rgba(206,214,237,1) 90%, rgba(207,214,240,1) 91%, rgba(206,214,237,1) 92%, rgba(207,214,240,1) 94%, rgba(207,215,238,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(185,186,217,1) 0%,rgba(191,194,225,1) 34%,rgba(196,200,229,1) 46%,rgba(197,202,231,1) 56%,rgba(199,204,233,1) 57%,rgba(199,205,231,1) 61%,rgba(203,209,235,1) 75%,rgba(205,211,237,1) 77%,rgba(205,211,235,1) 84%,rgba(205,212,238,1) 84%,rgba(206,214,237,1) 90%,rgba(207,214,240,1) 91%,rgba(206,214,237,1) 92%,rgba(207,214,240,1) 94%,rgba(207,215,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(185,186,217,1) 0%,rgba(191,194,225,1) 34%,rgba(196,200,229,1) 46%,rgba(197,202,231,1) 56%,rgba(199,204,233,1) 57%,rgba(199,205,231,1) 61%,rgba(203,209,235,1) 75%,rgba(205,211,237,1) 77%,rgba(205,211,235,1) 84%,rgba(205,212,238,1) 84%,rgba(206,214,237,1) 90%,rgba(207,214,240,1) 91%,rgba(206,214,237,1) 92%,rgba(207,214,240,1) 94%,rgba(207,215,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9bad9', endColorstr='#cfd7ee',GradientType=1 ); /* IE6-9 */

		&:hover {
			background: #b9bada;
		}
	}
	
	&.btn-view {
		background: #f3f3f9;
	}
}