@font-face {
  font-family: 'BentonSans-Regular';
  src: url('../fonts/benton-sans/BentonSans-Regular.eot');
  src: url('../fonts/benton-sans/BentonSans-Regular.woff2') format('woff2'),
       url('../fonts/benton-sans/BentonSans-Regular.woff') format('woff'),
       url('../fonts/benton-sans/BentonSans-Regular.ttf') format('truetype'),
       url('../fonts/benton-sans/BentonSans-Regular.svg#BentonSans-Regular') format('svg'),
       url('../fonts/benton-sans/BentonSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans-RegularItalic';
  src: url('../fonts/benton-sans/BentonSans-RegularItalic.eot');
  src: url('../fonts/benton-sans/BentonSans-RegularItalic.woff2') format('woff2'),
       url('../fonts/benton-sans/BentonSans-RegularItalic.woff') format('woff'),
       url('../fonts/benton-sans/BentonSans-RegularItalic.ttf') format('truetype'),
       url('../fonts/benton-sans/BentonSans-RegularItalic.svg#BentonSans-RegularItalic') format('svg'),
       url('../fonts/benton-sans/BentonSans-RegularItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans-Bold';
  src: url('../fonts/benton-sans/BentonSans-Bold.eot');
  src: url('../fonts/benton-sans/BentonSans-Bold.woff2') format('woff2'),
       url('../fonts/benton-sans/BentonSans-Bold.woff') format('woff'),
       url('../fonts/benton-sans/BentonSans-Bold.ttf') format('truetype'),
       url('../fonts/benton-sans/BentonSans-Bold.svg#BentonSans-Bold') format('svg'),
       url('../fonts/benton-sans/BentonSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans-Light';
  src: url('../fonts/benton-sans/BentonSans-Light.eot');
  src: url('../fonts/benton-sans/BentonSans-Light.woff2') format('woff2'),
       url('../fonts/benton-sans/BentonSans-Light.woff') format('woff'),
       url('../fonts/benton-sans/BentonSans-Light.ttf') format('truetype'),
       url('../fonts/benton-sans/BentonSans-Light.svg#BentonSans-Light') format('svg'),
       url('../fonts/benton-sans/BentonSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans-Medium';
  src: url('../fonts/benton-sans/BentonSans-Medium.eot');
  src: url('../fonts/benton-sans/BentonSans-Medium.woff2') format('woff2'),
       url('../fonts/benton-sans/BentonSans-Medium.woff') format('woff'),
       url('../fonts/benton-sans/BentonSans-Medium.ttf') format('truetype'),
       url('../fonts/benton-sans/BentonSans-Medium.svg#BentonSans-Medium') format('svg'),
       url('../fonts/benton-sans/BentonSans-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

