.footer {
	background: $black-light;
	color: $footer-text;
	font-size: 12px;

	@media #{$sm-max} {
		text-align: center;
	}

	.footer-top {

		.container {
			border-top: 3px solid $blue;
			padding: 35px 0;

			@media #{$md-max} {
				padding: 35px 15px;
			}
		}
	}

	.footer-bottom {
		background: #1e1e1e;
		border-bottom: 1px solid #838284;
		padding: 18px 0 14px;

		.holder {
			text-align: right;

			@media #{$sm-max} {
				text-align: center;
			}
		}
	}

	.container {
		max-width: 1150px;
		padding: 0;

		@media #{$md-max} {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.promo-text {
		color: $white;
		margin: 0 0 17px;
	}

	// .copyright {
	// 	padding-top: 44px;
	// }

	.logo-box {
		text-align: right;

		@media #{$xs-max} {
			text-align: center;
			margin: 100px 0 0;
		}
	}

	.logo-holder {
		img {
			&:first-child {
				margin: 0 50px 0 0;

				@media #{$xm-max} {
					margin: 0 30px 0 0;
				}
			}
		}
	}


	.notification {
		color: rgba(255,255,255,.3);

		.status {
			margin: 0 0 0 10px;
			width: 16px;
			height: 16px;

			.fa {
				font-size: 12px;
				line-height: 11px;
			}
		}
	}
}