.contact-form {
	text-align: right;

	.input-group {
		width: 100%;
		margin: 0 0 15px;

		.form-control {
			border-radius: 0;
			border: none;
		}
	}

	label {
		display: table-cell;
		vertical-align: middle;
		width: 117px;
		padding: 0 17px 0 0;
		font-family: 'BentonSans-Bold', Arial, Helvetica, sans-serif;
		font-weight: 400;
	}

	.btn-success {
		padding: 7px 12px 6px;
		display: none;
		float: right;
	}

	p{
		position: relative;
	}

	.ajax-loader {
		background: #fff none repeat scroll 0 0;
		border-radius: 50%;
		height: 20px;
		padding: 2px;
		position: absolute;
		right: 32px;
		top: 8px;
		width: 20px;
		z-index: 9;
	}
}

.select-holder {
	.form-control {
		height: 28px;
		border-radius: 0;
		max-width: 300px;
	}
}

.wpcf7-not-valid{
	color: $red;

	&.form-control{
		border: 1px solid $red;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

		&:focus {
		    border-color: $dark-red;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px $light-red;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px $light-red;
		}
	}
}

span.wpcf7-not-valid-tip{
	display: block;
	font-size: 10px;
	text-align: left;
	width: 100%;
	font-family: $benton-sans;
	margin: 0;
	font-weight: 400;
	padding: 0 17px 0 0;
	vertical-align: middle;
	color: $red;
}
div.wpcf7-response-output{
	position: absolute;
	display: none;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	font-size: 0;
	padding: 0;
	margin: 0;
	border: none;
	box-shadow: none;
}
span.btn.btn-success{
	cursor: default;

	&:hover,
	&:focus,
	&:active,
	&:active:hover{
		background: $green;
		box-shadow: none;
	}
}
