.header {
	background: $black-light;
	padding: 15px 0 0;

    .logo {
        display: inline-block;

        img {
            max-width: 100%;
        }
    }

	.btn {
		float: right;
        padding: 8px 20px !important;
        margin: 5px 0;
	}

	.top-menu {
		float: right;
        padding: 0;
        margin: 0 30px 0 0;
        list-style: none;

		li {
			display: inline-block;
            margin: 0 18px;

            &.current_page_item a,
            &.current_page_parent a {
                border-color: $blue;
            }

            a {
                display: inline-block;
                height: 50px;
                transition: all .3s;
                border-bottom: 5px solid transparent;
                font: 14px/50px 'BentonSans-Medium';
                color: #fff;

                &:hover, &:focus {
                    text-decoration: none;
                }

                &:hover {
                    border-color: $blue;
                }
            }
		}
	}
}