html {
	height: 100%;
}

body {
	height: 100%;
	position: relative;
	font-family: $default-font;
	font-size: $default-font-size;
	font-weight: $default-font-weight;
	font-style: $default-font-style;
	line-height: $default-line-height;
	color: $default-text-color;
	background-color: $body-bg;
	min-width: 320px;
}

.layout {
	position: relative;
	overflow: hidden;
	min-height: 100%;
   	transition: .4s left;
   	left: 0;
    right: 0;

	.container {
		width: auto;
		max-width: 1180px;
	}

	a {
		color: $blue;
	}
}

&.sidebar-open {
	.navbar {
		left: 0;
	}

	.mobile-sidebar-overlay {
		visibility: visible;
		opacity: 1;
	}

	&.layout {
		left: 145px;
	}

	.main {
        overflow: hidden;
    }
}

.single-post{
	.widget-list-wrapper{
		padding: 0 20px;
	}
}
.sidebar {
	float: right;
	width: 308px;
	margin-bottom: 70px;
	position: relative;
	overflow: hidden;
	background: transparent;
	padding: 183px 0 0 0;

	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: #fff;
	}
	&:after {
		content: "";
		background: #ccc none repeat scroll 0 0;
		border-radius: 50%;
		box-shadow: 130px 10px 90px rgba(246, 246, 246, 1);
		height: 150%;
		left: -120%;
		position: absolute;
		top: -50%;
		width: 100%;
		z-index: -1;

		@media #{$xs-max} {
			display: none;
		}
	}

	&.single-post{
		padding-top: 0;
	}

	&.no-image{
		padding-top: 33px;
	}

	@media #{$xs-max} {
		float: none;
		width: auto;
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	&.single-post{
		@media #{$xs-max} {
			margin: 0 -15px;
		}
	}

	h2 {
		font-size: 24px;
		line-height: 27px;
		margin: 0 0 20px;
		font-weight: 300;
		font-family: bentonsans-light;
	}

	.thumbnail-img{
		margin-bottom: 60px;

		@media #{$xs-max}{
			margin: 15px auto 30px;
			width: 290px;
		}
	}

	.widget-list-wrapper{
		padding: 0 33px;

		@media #{$xs-max}{
			padding-left: 0;
			padding-right: 0;
		}
	}

	.widget-wrapper {
		width: 100%;
		margin-bottom: 60px;

		&.search-widget{
			margin-bottom: 30px;
		}

		.btn {
			margin-top: 7px;
		}

		&:last-child{
			margin-bottom: 0;
		}
	}

	.search-form {
		position: relative;
		width: 100%;

		.form-control {
			border-radius: 0;
			box-shadow: none;

			&:focus {
				border: none;
				box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
			}
		}

		.fa {
			position: absolute;
			top: 7px;
			right: 14px;
			color: $blue-text;
			font-size: 18px;
		}
	}

	.posts-holder {
		display: table;
		margin: 0 0 30px;
		font-size: 14px;

		.img-holder,
		.description {
			display: table-cell;
			vertical-align: middle;
		}

		.img-holder {
			width: 121px;
			padding-right: 12px;
		}
	}

	.categories-list {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			margin: 0;
			padding: 0;

			&:last-child {
				margin: 0;
			}

			&.update-category-link{
				background: transparent;

				.fa{
					color: #fff;
				}

				a {
					color: #fff;
					height: 50px;
					line-height: 50px;
					margin-top: 10px;
					background: linear-gradient(to right, #b9b9da 0%,#cfd7ef 100%);
				}
			}
		}

		a {
			color: $black;
			padding: 0 22px;
			margin: 0;
			height: 50px;
			line-height: 50px;
			vertical-align: middle;
			display: block;
			background: #f5f6fb;
		}

		.icon-holder {
			display: inline-block;
			vertical-align: middle;
			width: 29px;
			text-align: center;
			margin: 0 13px 0 0;
		}

		.fa {
			color: #0d97d7;
			font-size: 22px;
		}
	}
}


.mobile-sidebar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.25);
    transition: all .25s;
    visibility: hidden;
    opacity: 0;
    z-index: 110;
}

.dropdown {
	position: relative;
	padding: 0;

	&:after{
		content: '';
		display: block;
		position: absolute;
		border-top: 5px solid $blue-text;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		width: 0;
		height: 0;
		right: 14px;
		bottom: 14px;
	}

	select {
		border: 1px solid #ccc;
		background: #fff;
		color: #555;
		display: block;
		font-size: 14px;
		line-height: 1.42857;
		box-shadow: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
		outline: none;
		height: 34px;
		padding: 6px 12px;
		transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		width: 100%;

		option {
			outline: none;
		}
	}
}

.blue {
	color: #04a5e6;
}

.status {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	overflow: hidden;
	color: $white;
	background: #59c05c;

	.fa {
		font-size: 17px;
		vertical-align: middle;
	}

	&.unsuccess {
		background: #da362e;
	}
}