.post-list {
    padding: 5px 0 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    .post {
        position: relative;
        overflow: hidden;
        padding: 30px 30px 35px 85px;
        border-bottom: 1px solid #e5e5e5;

        @media #{$sm-max} {
            padding: 30px 0;
        }

        .post-date {
            position: absolute;
            top: 30px;
            left: 0;
            display: inline-block;
            width: 65px;
            height: 65px;
            margin: 0 0 30px;
            vertical-align: top;
            text-align: center;
            padding: 15px 5px;
            background: rgb(185,186,217); /* Old browsers */
            background: -moz-linear-gradient(left,  rgba(185,186,217,1) 0%, rgba(191,194,225,1) 34%, rgba(196,200,229,1) 46%, rgba(197,202,231,1) 56%, rgba(199,204,233,1) 57%, rgba(199,205,231,1) 61%, rgba(203,209,235,1) 75%, rgba(205,211,237,1) 77%, rgba(205,211,235,1) 84%, rgba(205,212,238,1) 84%, rgba(206,214,237,1) 90%, rgba(207,214,240,1) 91%, rgba(206,214,237,1) 92%, rgba(207,214,240,1) 94%, rgba(207,215,238,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(185,186,217,1) 0%,rgba(191,194,225,1) 34%,rgba(196,200,229,1) 46%,rgba(197,202,231,1) 56%,rgba(199,204,233,1) 57%,rgba(199,205,231,1) 61%,rgba(203,209,235,1) 75%,rgba(205,211,237,1) 77%,rgba(205,211,235,1) 84%,rgba(205,212,238,1) 84%,rgba(206,214,237,1) 90%,rgba(207,214,240,1) 91%,rgba(206,214,237,1) 92%,rgba(207,214,240,1) 94%,rgba(207,215,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(185,186,217,1) 0%,rgba(191,194,225,1) 34%,rgba(196,200,229,1) 46%,rgba(197,202,231,1) 56%,rgba(199,204,233,1) 57%,rgba(199,205,231,1) 61%,rgba(203,209,235,1) 75%,rgba(205,211,237,1) 77%,rgba(205,211,235,1) 84%,rgba(205,212,238,1) 84%,rgba(206,214,237,1) 90%,rgba(207,214,240,1) 91%,rgba(206,214,237,1) 92%,rgba(207,214,240,1) 94%,rgba(207,215,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9bad9', endColorstr='#cfd7ee',GradientType=1 ); /* IE6-9 */
            font: 30px/24px 'BentonSans-Bold';
            color: #fff;

            @media #{$sm-max} {
                position: relative;
                top: 0;
                float: left;
                width: 52px;
                height: 52px;
                padding: 8px 5px;
                margin-right: 15px;
                font-size: 24px;
            }

            span {
                display: block;
                font: 16px/18px 'BentonSans-Regular';

                @media #{$xs-max} {
                    font-size: 14px;
                }
            }
        }

        .post-title {
            padding: 0;
            margin: -3px 0 5px;
            font: 300 32px/1 'BentonSans-Light';
            letter-spacing: -.8px;

            @media #{$xs-max} {
                margin-top: 0;
                font-size: 24px;
                line-height: 1.2;
            }

            a {
                color: #000;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .post-meta {
            padding: 0 0 5px;
            font-size: 16px;
            color: #000;

            @media #{$xs-max} {
                font-size: 14px;
            }
        }

        .post-author {
            text-decoration: none;
            color: #0d97d7;
        }

        .post-categories {
            display: inline-block;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: inline-block;

                &:after {
                    content: ', ';
                }

                &:last-child:after {
                    content: '';
                }
            }

            a {
               color: #000;
            }
        }

        .post-image {
            position: relative;
            top: 5px;
            float: left;
            max-width: 250px;
            padding-right: 30px;

            @media #{$sm-max} {
                max-width: 100%;
                width: 100%;
                float: none;
                padding: 0 0 30px;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .post-text {
            overflow: hidden;
            padding: 0 0 50px;
            font: 14px/22px 'BentonSans-Regular';
        }

        .post-link {
            position: absolute;
            bottom: 30px;
            right: 30px;
            height: 40px;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: -.5px;

            @media #{$sm-max} {
                right: 0;
            }
        }
    }
}