//Path

$path-fonts: '../fonts/';
$path-img: '../images/';

//Fonts
$arial: Arial, sans-serif;
$open-sans: 'Open Sans', sans-serif;
$benton-sans: 'BentonSans-Regular', Arial, Helvetica, sans-serif;
//Colors
$black: #000;
$white: #fff;

$black-light: #121212;
$black-grey: #333539;
$blue: #0d97d7;
$border-light: #b5b7c6;
$light-bg: #eee;
$footer-text: #3f3f3f;
$red: #a94442;
$dark-red: #843534;
$light-red: #ce8483;
$green: #29bb5f;

$orange: #efab00;
$light-blue: #0076ca;

$grey-bg: #f1f1f1;

$blue-text: #159ad8;

//Default settings
$default-font: $benton-sans;
$default-font-size: 16px;
$default-line-height: 1.5;
$default-font-weight: 400;
$default-font-style: normal;
$default-text-color: $black;
$text-color-inverse: $white;

$body-bg: $white;


$md-max: 'screen and (max-width: #{$screen-lg - 1})';
$md-min: 'screen and (min-width: #{$screen-md})';
$sm-max: 'screen and (max-width: #{$screen-md - 1})';
$sm-min: 'screen and (min-width: #{$screen-sm})';
$xs-max: 'screen and (max-width: #{$screen-sm - 1})';
$xs-min: 'screen and (min-width: #{$screen-xs})';
$xm-max: 'screen and (max-width: 479px)';
$xm-min: 'screen and (min-width: 480px)';